[2017-07-24 15:18] HSchultjan opened #1 "Add documentation"
The readme should contain a proper documentation. 👍

[2017-07-24 15:27] yonaskolb commented on #1
Yeah, I know. It's still a work in progress, but I'll add some basics. At least a sample spec 👍

[2017-07-24 17:14] yonaskolb commented on #1
Hi @HSchultjan, I've added some info to the readme. Let me know if anything doesn't make sense. Also feel free to request some features here

[2017-07-24 17:56] #1 closed

[2017-07-24 18:10] yonaskolb opened #2 "Cross platform frameworks"
This is by specifying multiple platforms for a target in the spec, which would generate multiple targets, each with a different platform

[2017-07-24 18:10] yonaskolb opened #3 "Custom Schemes"

[2017-07-24 18:11] yonaskolb opened #4 "Support shared target sources"
If multiple targets have share the same source folder

[2017-07-24 18:11] yonaskolb opened #5 "Target source excludes"

[2017-07-24 18:12] yonaskolb opened #6 "Build setting groups"
This is  for sharing build settings in multiple places

[2017-07-24 18:12] yonaskolb opened #7 "Run scripts"
Generate pre and post build run script build phases

[2017-07-24 18:13] yonaskolb opened #8 "File watcher"
An optional file watcher that automatically regenerates the project when file system changes. Should be able to specify watched files with a glob

[2017-07-24 18:14] yonaskolb opened #9 "Spec generation"
Should be able to generate a spec from an existing project for easy migration

[2017-07-24 18:25] yonaskolb opened #10 "Support framework depencencies"
This would allow to linking to frameworks at a certain path

[2017-07-24 18:26] yonaskolb opened #11 "Support SDK dependencies"
This would allow to linking of system SDK frameworks

[2017-07-24 22:34] yonaskolb opened #12 "Support Carthage dependencies"
allow easy carthage dependencies
[code]

[2017-07-24 23:30] yonaskolb commented on #12
Done

[2017-07-24 23:30] #12 closed

[2017-07-25 08:56] #10 closed

[2017-07-25 08:56] #4 closed

[2017-07-26 21:19] yonaskolb commented on #6
Renamed to `settingPresets`

[2017-07-26 21:19] #6 closed

[2017-07-27 22:19] yonaskolb opened #13 "Deterministic UUIDs"

[2017-07-27 22:19] #13 closed

[2017-07-29 10:52] yonaskolb opened #14 "Integrate xcodeprojlint"
This would lint the project after generation with https://github.com/carambalabs/xcodeprojlint to make sure no issues exist

[2017-07-29 16:33] pepibumur commented on #14
Wow! good idea 😛. xcodeprojlint is still in progress but I'll have a few lints working soon.

[2017-08-01 11:42] pepibumur opened #15 "Support installation with Homebrew"
Installation can be simplified by using Homebrew. The purpose of this issue is to provide a Homebrew formula that tells Homebrew how to install XcodeGen

[2017-08-01 11:52] yonaskolb commented on #15
I would love that! I remember hearing you're not allowed to submit formula's for your own project, so if you could to it, that would be great!

[2017-08-01 12:26] pepibumur commented on #15
You can add your own repository, called Tap where the definition is. I'm working on the formula but I'm facing some issues with the generated binaries, since it depends on other frameworks that have to be linked once moved to the system directory.

[2017-08-01 12:27] pepibumur commented on #15
Forget about that, it's exactly what you do here :trollface: https://github.com/yonaskolb/XcodeGen/blob/master/Makefile

Where did you find documentation about that? I always wondered how that can be done.

[2017-08-01 12:31] yonaskolb commented on #15
Yeah one of the guys from YAMS pointed me in the right direction
https://github.com/jpsim/Yams/issues/39
I've been meaning to write a blog post about it, but I think it's supposed to be a solved problem when Swift 4 comes out

[2017-08-01 12:52] pepibumur commented on #15
I see. I wonder why it only happens with that dependency and not with the other. I feel I'm missing something :/

[2017-08-01 13:17] yonaskolb commented on #15
It's because Yams relies on a C module - libCYaml.dylib

[2017-08-02 07:26] pepibumur opened #18 "Generate basic projects without a spec file."
I just had an idea. What do you think about being able to generate simple projects from the command line with XcodeGen. Something like:

[code]

That would create the `xcodegen.yml` file and generate the project from it. How does that sound?

[2017-08-02 08:32] yonaskolb commented on #18
Yeah, that's a good idea. I guess it would fulfil a similar purpose to https://github.com/JohnSundell/Xgen but we'd have more power underneath for some extra flexibility and options

[2017-08-02 10:22] pepibumur commented on #18
🎉  genau!

[2017-08-02 11:35] #7 closed

[2017-08-03 22:25] yonaskolb opened #20 "Specify tests for target schemes"

[2017-08-03 22:29] #20 closed

[2017-08-04 08:32] yonaskolb commented on #11
Is this needed?

[2017-08-04 08:39] yonaskolb commented on #3
There is limited support for custom schemes at the moment where you can only set build targets and action configurations. It's currently undocumented as it's a work in progress and the spec may change

[2017-08-08 19:06] yonaskolb opened #22 "Spec Includes"
Ability to support spec includes. This would allow you to seperate the spec into multiple files, to for example seperate all the setting presets for sharing amongst multiple specs

[2017-08-13 23:32] robertjpayne commented on #2
Just to add a comment on this -- you can actually generate a cross platform framework w/o duplicating it.

http://promisekit.org/news/2016/08/Multiplatform-Single-Scheme-Xcode-Projects/

[2017-08-18 11:46] sbarow commented on #11
Would be useful for something like Google Maps where you have to specify a whole list of system SDK's.

Have a look at [Google Maps](https://developers.google.com/maps/documentation/ios-sdk/start) **Install Manually**

[2017-08-22 04:24] ImLaufderZeit opened #24 "Generates non-parsable xcodeproj when a file name contains '@'"
Using XcodeGen 0.3.0 and Xcode 8.3.3.

If one of files name contains "@", xcodegen generates non-parsable project by Xcode, somehow.
So it cannot deal with retina filenames such as `foobar@2x.jpg`, `foobar@3x.jpg`.
Adding those kind of assets to *.xcassets wouldn't really solve this problem as I intend not to use it, since using xcassets forces UIImage to be cached.

_example:_
[code]

If "Assets"

[2017-08-22 05:44] ImLaufderZeit opened #25 "Add directories as folder references"
Adding specific directories as **Folder References** would be really nice feature.
I'm referring to the thing below:
<img width="364" alt="folderreference" src="https://user-images.githubusercontent.com/31232499/29550376-691f3232-8748-11e7-8bc9-b08505da84ed.png">

[2017-08-22 10:23] pepibumur commented on #25
That's a good one @ImLaufderZeit 😛

[2017-08-22 10:39] pepibumur commented on #8
I think you could use this for that purpose https://github.com/facebook/watchman. But thinking about it, don't you think it'd be quite hard to work with the project?

[2017-08-22 10:46] pepibumur opened #26 "Setup repository labels"
I find it useful to include priority, difficulty and type useful to organize issues. It's also good for welcoming contributors in the project *(e.g. they can start with the simple issues to get some context on the project)*.

This is the setup that I've used for xcodeproj, what do you think @yonaskolb?

![image](https://user-images.githubusercontent.com/663605/29562012-f3a41a1e-8737-11e7-930e-7e32

[2017-08-22 11:32] yonaskolb commented on #26
Personally I think it's a bit overkill for such a small project, but I have no problem with it. Sure, you can add them 😀

[2017-08-22 12:43] pepibumur commented on #26
Done 😛

[2017-08-22 12:43] #26 closed

[2017-08-22 12:44] pepibumur commented on #15
This has already been done:
[code]

[2017-08-22 12:44] #15 closed

[2017-08-22 12:47] pepibumur commented on #11
This should be technically possible from your build settings @sbarow. What about adding an extra parameter in the target specification where you specify those frameworks, and generates the BUILD_SETTINGS necessary for doing the linking automatically?

[2017-08-22 12:48] pepibumur commented on #5
This is a great idea 😛

[2017-08-22 15:54] yonaskolb commented on #8
Yes, if it kept re-gening the project from under you when you make any changes in xcode, that would be annoying.
It would have to be smart, so that only changes you make to the file system and NOT in xcode would generate the project. It would do this by watching the file system and the project at the same time.

What would probably be more useful is to simply watch the spec file for changes and re

[2017-08-22 16:22] yonaskolb commented on #25
Yeah, that's a good feature. Given that the groups are synced to disk anyway though, I thought it would be less important, because as far as I know the only downside to using groups as opposed to folder references is that you have to manually manage them, but that isn't an issue with XcodeGen. Would specific problem would this solve for you?

I could imaging it maybe looking like this:
[code]
This

[2017-08-23 01:12] ImLaufderZeit commented on #25
@yonaskolb, that sounds just awesome.

Well, in fact, if #24 has been solved - there is no problem, exactly as you say.

[2017-08-23 01:26] ImLaufderZeit opened #27 "Add Frameworks as Embedded Binaries"
I often use Swift dynamic framework and specify them in `xcodegen.yml` like below:

[code]

XcodeGen correctly handle this and add those frameworks to `Linked Frameworks and Libraries`, but it seems we do not have an option to have them as `Embedded Binaries`?

[2017-08-23 01:47] ImLaufderZeit opened #28 "Add an option 'Run script only when installing'"
I often use auto-increment build number script and some scripts that should invoked only when archiving.

_Examples:_
http://crunchybagel.com/auto-incrementing-build-numbers-in-xcode/
https://gist.github.com/sekati/3172554
https://github.com/realm/realm-cocoa/blob/master/scripts/strip-frameworks.sh

Those kind of scripts should run only when archiving (well, just personally I guess so). So I belie

[2017-08-23 06:02] pepibumur commented on #27
This is a good idea. By supporting it you could also include in your projects the frameworks that have been built/downloaded by Carthage. It requires mainly two things in your app:
- Linking.
- Embedding if the product is an app.

[2017-08-23 12:05] yonaskolb opened #29 "Generate output files for carthage copy frameworks script"
This will make the  Carthage `copy-frameworks` script run only if the output files are missing. As suggested in the Carthage readme

[2017-08-23 20:44] yonaskolb opened #30 "Ability to specify the Carthage folder path"
This lets the Carthage folder reside in other places than the project root

[2017-08-23 21:03] yonaskolb opened #31 "Installed version doesn't have access to build setting preset files"
This results in projects that don't have default build settings applied for config type, platform or product type

[2017-08-23 21:07] yonaskolb commented on #31
@pepibumur Do you have any tips here regarding homebrew? We need the `SettingsPreset` folder to be somehow accessible when running

[2017-08-23 22:07] yonaskolb commented on #31
I've managed to add that directory in by adding this to the install script in the Formula
[code]
Now I need find to out how to access these files

[2017-08-23 23:24] yonaskolb commented on #31
Fixed. Awaiting new release

[2017-08-23 23:24] #31 closed

[2017-08-24 08:50] pepibumur commented on #31
I just saw it. How did you manage to access the files @yonaskolb?

[2017-08-24 09:25] yonaskolb commented on #31
[code]
If that doesn't exist I check the following for local builds and tests
[code]

[2017-08-24 10:28] yonaskolb commented on #24
Fixed by https://github.com/carambalabs/xcodeproj/pull/48
Will be in next release

[2017-08-24 14:51] yonaskolb commented on #28
This requires support from xcodeproj

[2017-08-24 14:57] yonaskolb commented on #28
Fixed in xcodeproj https://github.com/carambalabs/xcodeproj/pull/49

[2017-08-24 15:04] yonaskolb commented on #28
Resolved with workaround in the meantime. Will be in the next release soon

[2017-08-24 15:07] yonaskolb commented on #27
Yep, I'll add this 👍
Carthage dependencies are already embedded though via the automatically applied `copy-frameworks` script that is added to any host applications

[2017-08-24 17:20] #24 closed

[2017-08-24 17:25] pepibumur commented on #28
We'll have a release tonight so that you can use it @yonaskolb

[2017-08-24 17:25] pepibumur commented on #24
![gif](https://media.giphy.com/media/3o6gEgGa7C2XF4rNde/giphy.gif)

[2017-08-24 17:40] #28 closed

[2017-08-25 01:12] ImLaufderZeit commented on #24
Amazing! 🤝

[2017-08-25 14:57] yonaskolb commented on #28
@ImLaufderZeit This is now in [0.4.0](https://github.com/yonaskolb/XcodeGen/blob/master/CHANGELOG.md#040)

[2017-08-26 14:22] yonaskolb commented on #2
Thanks for the info @robertjpayne. As the article mentions that are some issues with such an approach. If we're generating these targets automatically anyway, we may as well do it in a recommend and supported way.
This has now been added in #35

[2017-08-26 14:24] yonaskolb opened #36 "Automatically generated search paths for targets with Carthage dependencies"

[2017-08-26 14:24] #2 closed

[2017-08-27 09:41] yonaskolb opened #39 "Automatically find Info.plist if not specified in build settings"

[2017-08-27 09:48] #36 closed

[2017-08-27 09:56] #27 closed

[2017-08-27 10:29] #39 closed

[2017-08-28 02:04] ImLaufderZeit commented on #24
On build script feature, inline script parsing seems to be broken in HEAD, might be related to this merge?

[2017-08-28 09:23] yonaskolb commented on #24
Oh, yes please file a new issue with your inline script

[2017-08-28 09:53] ImLaufderZeit opened #41 "Inline script parsing is broken"
example `xcodegen.yml`:
[code]

Xcode now says `Project *.xcodeproj cannot be opened because the project file cannot be parsed.`. Script used above is: https://raw.githubusercontent.com/realm/realm-cocoa/master/scripts/strip-frameworks.sh
Although in the example I'm specifying path of the script, writing the script as string in yamls causes the same problem naturally.

Now, here is the concerned e

[2017-08-28 09:55] ImLaufderZeit commented on #24
Thx, have a look at #41 when you have a time

[2017-08-28 10:14] ImLaufderZeit opened #42 "Embedded Frameworks: 'Code Sign on Copy' is always false"
Although embedding frameworks is working flawlessly, it seems `Code Sign on Copy` will be always `false` (checked off) even in case specifying it manually by: `codeSign: true`.

[2017-08-28 15:05] yonaskolb commented on #41
Fixed by https://github.com/swift-xcode/xcodeproj/pull/59

[2017-08-28 15:06] yonaskolb commented on #42
@ImLaufderZeit This is fixed on master if you'd like to test it

[2017-08-28 16:22] #41 closed

[2017-08-28 17:12] yonaskolb commented on #42
Fixed in 0.5.1.
Let me know if you still have issues with it @ImLaufderZeit

[2017-08-28 17:12] #42 closed

[2017-08-29 01:12] ImLaufderZeit commented on #42
Confirmed it is now working as expected in 0.5.1. Great job!

[2017-08-29 01:16] ImLaufderZeit commented on #41
Thanks for this, working as expected in 0.5.1.

[2017-08-30 12:08] #22 closed

[2017-09-07 02:56] ImLaufderZeit opened #47 "Support PBXAggregateTarget"
It seems that https://github.com/swift-xcode/xcodeproj supports PBXAggregateTarget (?), but XcodeGen doesn't.
Priority would be low though, I often use the kind of target in framework projects to invoke archive script.

[2017-09-10 05:05] kdawgwilk opened #49 "Generating Playgrounds?"
I am working on a a Swift project and I need to be able to generate a Playground inserting my own file into it to get some autocomplete

[2017-09-10 15:06] yonaskolb commented on #49
Interesting, I guess a feature like that could take a few forms.
- generating a standalone playground or one in your project? In the project can make use of any frameworks automatically. A standalone one would probably use add all the files into the playground.
- generating an empty playground or one with content?

[2017-09-10 15:08] yonaskolb commented on #49
What sort of use case would you specifically be trying to solve? I assume you're aware that a playground in a project can make use of all the frameworks already? Would just being able to add non resources or source files into the project be enough, so you could link an existing playground?

[2017-09-10 19:30] kdawgwilk commented on #49
My specific use case is centered around this project [Autobahn](https://github.com/kdawgwilk/Autobahn) and wanting to build an `autobahn edit` that generates a Swift playground or similar in a tmp directory that gives autocomplete for the `Autobahn.swift` similar to how SPM does with its `Package.swift`

[2017-09-10 20:03] yonaskolb commented on #49
Cool looking project! Looking forward to using it 😄

I guess there would be 2 options then. Generating a playground file with `Autobbahn.swift` in it's sources, or generating a workspace with an Autobahn framework. Both of those could be a possible features for XcodeGen, but I think you should take a look at 2 relevant projects from John Sundell first. https://github.com/JohnSundell/Xgen and also

[2017-09-13 19:03] daniel-beard opened #51 "Brew install does not currently work"
Using the instructions from the README I currently get this:

[code]

[2017-09-13 19:07] daniel-beard commented on #51
May be related to having Xcode 9 GM installed.

[2017-09-13 20:24] jalopezcar commented on #51
I had the same problem with xcode9, it works with xcode8

[code]

[2017-09-13 21:01] yonaskolb commented on #51
Yes, it won't build with Xcode 9 if that's your default. I'll update to Swift 4 hopefully in the next couple of days

[2017-09-14 17:10] yonaskolb opened #53 "Change targets from list to map"
At the moment `targets` is list. That was done to preserve the order of generated targets in the xcode project.
There would be some upsides to making it a map of names to targets however:
- the `include` feature could edit and merge targets by name
- more natural yaml styl
- enforce the target name
- better visual seperation

The points are very minor other than the first one which is a real consi

[2017-09-14 17:13] yonaskolb commented on #53
Thoughts @pepibumur?

[2017-09-14 17:14] yonaskolb commented on #53
In comparison the Swift Package Manager seems to generate the target list randomly also, even though they are defined as an array in `Package.swift`
<img width="281" alt="screen shot 2017-09-14 at 7 14 08 pm" src="https://user-images.githubusercontent.com/2393781/30443754-f0face9c-9980-11e7-9c2c-801964aec81a.png">

[2017-09-14 18:19] yonaskolb commented on #51
Swift 4 upgrade implemented by #52

[2017-09-14 19:57] yonaskolb commented on #51
Just a note @daniel-beard, if you want to install a working Swift 4 version before the next release you can install from master:
[code]

[2017-09-15 00:42] ImLaufderZeit commented on #53
`map - Dictionary` seems more natural and better, personally.
If you could control structure of group targets in File Navigator in Xcode, even better. Off-topic in this issue though...

[2017-09-15 08:10] ImLaufderZeit opened #57 "'Shared' scheme option"
Currently, if you have more than one configs `xcodegen` would make schemes `Shared`.
If there is an option to make a scheme `Shared` checked on, it would be great.

[2017-09-15 08:28] yonaskolb commented on #57
Not sure what you mean here @ImLaufderZeit?
The only way to generate shared schemes is by specifying a target `scheme`, or the as yet undocumented top level `schemes`.
Are you wanting that these generated schemes be optionally made private?

The rest of the private schemes are generated by xcode when you open the project for every target. In Xcode 9 they changed it slightly in that the automatic p

[2017-09-15 09:22] ImLaufderZeit commented on #57
@yonaskolb, sorry not mentioning any envs or details.
First of all, I'm on Xcode 9 GM and XcodeGen 0.6.1 via `brew`.

Well, under Xcode 8.3.3 & XcodeGen 0.6.1, `xcodebuild -list` did show schemes even if it's not checked as shared. But with Xcode 9 GM & XcodeGen 0.6.1, the command would no longer list schemes unless you manually check `Shared` on.

So, I was bypassing this by adding spec below:

[

[2017-09-15 09:36] pepibumur commented on #53
@yonaskolb in my experience working with multiple projects I don't think the order of the targets doesn't matter a lot. I see more value in making it more readable and more yaml-natural

[2017-09-15 09:42] yonaskolb commented on #57
Ahh I see, you want to simply create a shared scheme right? But you don't want to create config variants as you are just using the default configs, and you have no test targets. That's an interesting point. To fix it, it comes down to how how to specify an empty map in yaml, so it still parses correctly. You can do that with `{}`
[code]

To make this easier to control, maybe a some sort of `shareS

[2017-09-15 09:52] ImLaufderZeit commented on #57
Riiight, yes, yes! That's exactly what I wanted to describe. Only default configs, no test targets and single target and scheme.

[code]

This worked charmingly!! Well, I think I need to learn more how json and yaml works.
Thanks for this 👍

[2017-09-15 09:58] ImLaufderZeit commented on #57
Oops, though I closed this issue, I'm totally agreed with:

But `scheme: {}` works, so later and later. There are issues that has higher priority I guess.

[2017-09-15 09:58] ImLaufderZeit commented on #57
Oops, though I closed this issue, I'm totally agreed with:

But `scheme: {}` works, so later and later. There are issues that has higher priority I guess.

[2017-09-18 19:29] ehyche opened #58 "Seeing homebrew build issues with 0.6.1"
I have Xcode 9 GM installed, and have ensured that I am using them from the command-line. When I do the following homebrew commands:

[code]

then I am getting the following errors both on my local laptop and our CI servers:

[code]

[2017-09-18 19:51] #53 closed

[2017-09-18 20:14] yonaskolb commented on #58
Duplicate of #51
I've just done a 1.0.0 release with Swift 4 support, but this still seems to be a problem...
It seems something must be updated in the package or build script, though not sure what yet

[2017-09-18 20:49] yonaskolb commented on #51
I've release 1.0.0 with Swift 4 support, but this still seems to be an issue. Does anyone have any ideas on how to fix this, as I can't find any information about the error?

[2017-09-18 20:59] yonaskolb commented on #58
Move discussion into #51

[2017-09-18 20:59] #58 closed

[2017-09-19 08:42] pepibumur commented on #51
@yonaskolb I ran through similar issues when I tried to install [xcode](https://github.com/swift-xcode/xcode) using Homebrew. I solved by adding the flag `--no-sandbox`.

[code]

Not sure about why the flag is needed though @yonaskolb

[2017-09-19 09:55] yonaskolb commented on #51
Thanks @pepibumur! That does indeed seem to fix the issue, strange...
I've updated the readme

[2017-09-19 09:58] pepibumur commented on #51
Cool @yonaskolb

[2017-09-20 09:10] yonaskolb commented on #51
I noticed this in the Swift 4 release notes:

I hadn't seen this mentioned before. Doesn't seem like there was a proposal for this. Still not sure how this affects homebrew installation

[2017-09-20 10:04] pepibumur commented on #51
@yonaskolb, I think they prevent that people run code in the `Package.swift` that has access to the system somehow. But I don't think it's the case here since the `Package.swift` is not doing such thing. Weird :/

[2017-09-20 19:13] ehyche commented on #51
@yonaskolb : I ran:

[code]

and that fixed the "sandbox-exec: sandbox_apply_container: Operation not permitted" error. But I am still seeing the homebrew error, which causes XcodeGen to not install. Here is the output:

[code]

[2017-09-20 19:48] yonaskolb commented on #51
@ehyche, I just noticed that too actually. It was working before but now that error occurs. Nothing has changed that I can see between 1.0.1 and 1.1.0. Maybe a homebrew update broken something?
The error from Homebrew doesn't really help. Running with `-v` gives a bit more info though
[code]

[2017-09-20 20:10] ehyche commented on #51
Looks like it is related (I think) to the custom tap that is used: https://github.com/Homebrew/brew/issues/2733

[2017-09-21 00:45] kixswift commented on #51
So, seemingly it's a brew-side bug and we have to wait until next version of brew...?

[2017-09-21 12:35] toshi0383 opened #59 "Support xcconfig"
# Motivation
Auto apply xcconfig configurations like this.
<img width="741" alt="xcode-configuration" src="https://user-images.githubusercontent.com/6007952/30695680-f4cd2ec8-9f13-11e7-922a-cc43b2d8c736.png">

# Current Problems
I notice documentations do mention about xcconfig but looks like it's not working as expected.

- Setting `configFiles` does not affect anything. (Bug? or maybe my spec is

[2017-09-21 12:50] yonaskolb commented on #59
Hi @toshi0383, thanks for the suggestions!

Yeah, you're right there's no way to specify a project's xcconfig file. Setting `configFiles` on a target should be working though. Is it not?

In terms of adding them to the project, I'd like to keep defining configurations and applying xcconfig files in seperate dictionaries. While it's not hugely documented at the moment the `include` feature is highl

[2017-09-21 14:44] yonaskolb commented on #51
Yeah, I'm sure it it's an Xcode 9, homebrew or formula problem. It might be fixed with a homebrew or macOS update?

[2017-09-21 15:05] toshi0383 commented on #59
Yeah maybe my spec is wrong. Would you mind sharing a working example spec for me?

Could you share outline spec? I don't see the whole picture yet, since I haven't used `include` feature.
It's XcodeGen specific feature, right?
By the way I think `include` is also a bit misleading, because the name conflicts with xcconfig's `#include` feature.

Alright. I will fix this maybe in different PR.

Grea

[2017-09-21 15:47] toshi0383 commented on #59
Don't worry about this on this thread.
I might submit a new issue to ask about `include` feature. 😉

[2017-09-21 15:51] toshi0383 opened #61 "`include` feature: Why not xcconfig's `#include` and Xcode's $(inherited) ?"
This is just a question about `include` feature.
How is it different from simply using xcconfig's `#include` and Xcode's `$(inherited)` ?

[2017-09-21 15:54] toshi0383 commented on #29
I couldn't find this. Could you tell me which section?

[2017-09-21 19:23] yonaskolb commented on #61
It's similar to xcconfigs `#include` in the way that it merges files. But instead of just using it for build settings you can split up your whole project spec. For example having one yaml file that has common build settings for different projects, or one that has a few targets, that another one then adds to or overrides specific properties of the targets, for example changing the platform of them

[2017-09-21 19:24] yonaskolb commented on #29
It's here in point 6 https://github.com/Carthage/Carthage/blob/master/README.md#getting-started

[2017-09-21 22:00] toshi0383 commented on #29
Thanks 😄

[2017-09-22 16:28] ryohey opened #62 "Generate bundle identifier"
Hello,
Thanks for your this great solution that I really wanted.

Today I tried to generate my project using XcodeGen.
I faced the problem that Xcode shows the message `This app was unable to be installed` after build the project for the simulator.

I reproduced it on TestProject in this repository.

1. `xcodegen --spec spec.yml`
2. Open `GeneratedProject.xcodeproj`
3. Select the simulator like iP

[2017-09-22 17:54] yonaskolb commented on #62
Hi @ryohey, glad you like it.

Interesting I haven't seen that issue before. What sort of dependency is it? You can also set `embed: false` for that dependency and that may fix it.
If you can share your spec that would help a lot.

[2017-09-22 17:59] toshi0383 commented on #61
Thanks for sharing the details. I think `include` just fits the use-case.👌
It isn't possible to inherit while overriding (like `$(inherited)` of Xcode) though, is it?

[2017-09-22 20:02] yonaskolb commented on #61
`$(inherited)` isn't really part of it, as that is inheriting between different levels of settings (target, target config, project, project config, sdk).
Any property that supports `$(inherited)` can actually be an array of values. If you define a setting as an array, then a different spec can add values to this.

This is because the logic of the include merging is as follows:
- if existing value

[2017-09-22 23:15] toshi0383 commented on #61
Understood. It sounds great!

Because xcconfig's `#include` does not allow inheritance or merging, when you have xcconfig from CocoaPods, configuring your xcconfig is kind of troublesome. [Resently I presented about this](https://speakerdeck.com/toshi0383/xcconfig-pitfalls). So for some users, it can be better option to use XcodeGen's include feature than xcconfig.
Only thing to consider is that X

[2017-09-22 23:22] toshi0383 commented on #59
So this is what I came up with. What do you think?

[code]

[2017-09-23 06:52] ilovezfs commented on #51
Hi, I'm one of the Homebrew maintainers. You need to run `swift build --disable-sandbox` because Homebrew runs all builds in a sandbox, and you cannot exec another sandbox within a sandbox.

You should not run `brew install --no-sandbox`, which is intended for debugging purposes only.

[2017-09-23 07:18] kixswift commented on #51
Ah, that totally makes sense...

[2017-09-23 07:45] ilovezfs commented on #51
For an example, see https://github.com/Homebrew/homebrew-core/pull/18456.

[2017-09-23 10:51] pepibumur commented on #51
Makes sense. Thanks, @ilovezfs for clarifying it. I've updated it to not use the sanbox flag with Homebrew.

[2017-09-23 12:33] ryohey commented on #62
`embed: false` solved the issue! Thank you so much.

This is my final spec just in case.

[code]

For TestProject, I think this is not a problem, but I will report it in case.
I just cloned this repository and run `xcodegen --spec spec.yml` in `XcodeGen/Fixtures/TestProject` then open the project and Run.
This seems to be caused by the same thing.

![image](https://user-images.githubusercontent.co

[2017-09-23 15:36] yonaskolb commented on #51
Fantastic, thank you @ilovezfs!
Is there any documentation around the Swift 4 changes that require this workaround? Is it all Swift 4 packages or only those with C code, as I noticed the error happened while compiling `libCYaml` from the Yams dependency.

[2017-09-23 17:20] yonaskolb commented on #62
After some debugging, I found the issue! The problem is that some of your targets and the Fixture framework are missing a PRODUCT_BUNDLE_IDENTIFIER. Adding this launches the app correctly.

It's interesting that removing the embed frameworks phase both stops this issue from happening and also results in a still functional app. I guess embedding isn't necessary when you have a target dependency, bu

[2017-09-23 18:35] pepibumur commented on #51
I found this @yonaskolb on [this link](https://swift.org/blog/swift-4-0-released/):

I think it might be related

[2017-09-23 18:50] yonaskolb commented on #51
Yeah I believe that's what caused it

[2017-09-24 05:02] ryohey commented on #62
Auto generation of the bundle id is very cool! It's so helpful.

Thank you for your suggestions! I have a mistake of copy & paste.
This is fixed spec.

[code]

Actually spec has other target `feather-free` that is another version of this application that shared the code base but AppIcon and Info.plist and preprocessor flags are difference.

Both targets have almost same spec. I'm not sure can we p

[2017-09-24 06:09] yonaskolb commented on #62
You can indeed have a sort of abstract target by using the include feature. See #61 for more details.
Basically you could have a base spec and then have 2 other specs that ‘include’ the base and then override any properties you wish

[2017-09-24 12:28] toshi0383 opened #65 "`settings` and `settingsGroup`: difference from xcconfig ?"
Is there any difference from using xcconfig?
What are pros/cons ?

Related: https://github.com/yonaskolb/XcodeGen/pull/64#issuecomment-331669653

[2017-09-24 17:18] yonaskolb commented on #65
`settings` are used to provide settings on a target or project. `settingsGroup` can be referenced from `settings` or other `settingGroups`. They are similar to `xcconfig` files but have a bit more power.

**Setting group advantages**
- can specify build settings or other setting groups by config
- written in the same spec using the same language so easier to use

**Xcconfig advantages**
- can reus

[2017-09-24 17:53] yonaskolb opened #66 "Command for printing the combined build settings of a spec"
This would add a command that would print out the specific settings that would be applied to a target for a specific config. This would combine

- target build settings
- target xcconfig file
- project build settings
- project xcconfig file

To begin with this wouldn't exclude settings that are applied by the top most level, being the SDK, as we don't have easy access to that.

[2017-09-24 17:58] #61 closed

[2017-09-24 18:03] pepibumur commented on #66
How would you have access to the SDK settings @yonaskolb ?

[2017-09-24 18:14] yonaskolb commented on #66
Not sure, parsing files in the SDK or some use of an xcode CI command. I haven't looked into it.
For now I don't think it's too important. Mostly you just care about the settings you have provided

[2017-09-24 18:32] #59 closed

[2017-09-24 19:25] yonaskolb commented on #62
@ryohey, automatically generating `PRODUCT_BUNDLE_IDENTIFIER` has been added in #67

[2017-09-25 00:27] toshi0383 commented on #65
Thank you for the clarification!

[2017-09-25 00:27] #65 closed

[2017-09-25 00:28] toshi0383 commented on #59
🚀

[2017-09-25 01:16] kixswift commented on #51
Seems now on 1.1.0 this is fixed by those workaround commits. I think this issue is solved, at least for now?

[2017-09-25 05:50] #51 closed

[2017-09-25 11:39] yonaskolb commented on #61
The `:REPLACE` syntax for includes has been added in #68

[2017-09-25 13:51] ryohey opened #69 "Add localized resources to a variant group"
If a storyboard localized for some language, it should be grouped into one variant group.

![2017-09-25 22 43 05](https://user-images.githubusercontent.com/5355966/30811447-30a55c72-a243-11e7-9cfd-fa5ea3cb47f9.png)

XcodeGen generates references same level.

![2017-09-25 22 40 49](https://user-images.githubusercontent.com/5355966/30811462-391c8916-a243-11e7-9a49-692c01275d2f.png)

expectation

![2

[2017-09-25 15:26] #62 closed

[2017-09-28 12:10] yonaskolb opened #71 "Define testTarget"
Add the ability to add a `TestTargetID` in project attributes
You can already set the `TEST_TARGET_NAME` build setting but that doesn't change the "Host application" in the Xcode UI

[2017-09-28 12:15] yonaskolb commented on #71
This could also automatically be done by setting the `TestTargetID` attribute if a test target has a target dependency that is an application

[2017-09-29 09:36] yonaskolb commented on #71
`TEST_TARGET_NAME` is now automatically set in 1.2.2 if a ui test target has a target dependency that is an application

[2017-09-29 14:25] toshi0383 opened #73 "Way to create universal framework target"

[2017-09-29 14:31] toshi0383 commented on #73
BTW I have a xcconfig like this.
This should be enough for universal framework.
[code]

[2017-09-29 14:41] yonaskolb commented on #73
I see. What's happening now is that I'm guessing you're specifying `platform: iOS,macOS,tvOS,watchOS` which then automatically creates a target for each platform.

There are some downsides to having a universal framework as opposed to frameworks per platform, but we should still make it possible.
I guess what is needed is to make `platform` optional, but with the knowledge that the developer will

[2017-09-29 15:10] toshi0383 commented on #73
Thanks for quick follow up!
I will try to workaround it by appending `_iOS` and `_macOS` for now.👌

[2017-09-29 22:32] toshi0383 opened #80 "Adding common Localizable.strings files"
I have these Localizable settings under `resources/language` directory.
[code]

I want to import them into separated target.
[code]

This spec ends-up with the files only added to `LGTM` target.
<img width="622" alt="screen shot 2017-09-30 at 7 29 25" src="https://user-images.githubusercontent.com/6007952/31038344-2e862284-a5b1-11e7-9c8f-e15a473a1dd1.png">

Also on Xcode, both files are displayed

[2017-10-01 00:32] toshi0383 opened #81 "Generation failed: “contents.xcworkspacedata” couldn’t be removed."
Generation fails unless `App.xcodeproj/project.xcworkspace/contents.xcworkspacedata` is present.

workaround:
[code]

[2017-10-01 09:32] yonaskolb commented on #81
Yes, I noticed that and fixed it in xcproj. So we just need to update to the newest version

[2017-10-01 09:42] yonaskolb commented on #81
Fixed in master 👍

[2017-10-01 11:02] toshi0383 commented on #81
Confirmed✅
Thanks!

[2017-10-01 11:02] #81 closed

[2017-10-04 12:13] toshi0383 commented on #80
Oh I didn't understand the problem correctly.
I checked out #70 branch locally and it solves this issue! 👏

[2017-10-04 12:13] #80 closed

[2017-10-06 02:01] mironal commented on #47
I want this feature. but it is difficult for me to implement. 😭

[2017-10-06 20:26] yonaskolb commented on #47
How would you guys imagine this feature looking in yaml?

Would something like this work?
A new top level `aggregateTargets`, that has a map of target name to the following structure:
- targets: [String]
- prebuildScripts
- postBuildScripts

Is that all that would be needed? Do you need to be able to set build settings on an aggregate target?

[2017-10-13 20:51] toshi0383 opened #86 "Link and embed all nested Carthage dependencies for macOS"
# Motivation
With spec like this,
[code]
Generate xcodeproj like this.
<img width="708" alt="screen shot 2017-10-14 at 5 49 12" src="https://user-images.githubusercontent.com/6007952/31565907-732dd402-b0a3-11e7-9266-ca0ed511a4d4.png">

Related: https://github.com/yonaskolb/XcodeGen/pull/82

[2017-10-14 21:55] keith opened #87 "Project with nested xcconfigs included in sources breaks"
Currently if I generate a project that has a xcconfig set for the configuration, and also includes the directory the xcconfig file lives in in the `sources` of a target, the project ends up in a broken state:

![image](https://user-images.githubusercontent.com/283886/31579659-9b5f39ba-b0ef-11e7-81e4-88dd5fe84928.png)

This is the configuration for this case:

[code]

Sample project (with the gener

[2017-10-16 09:29] yonaskolb commented on #87
Interesting, thanks for opening the issue @keith. I'll have to debug this.
In the meantime, maybe adding the xcconfig folder as a plain file group instead of a target source will fix the issue?
[code]

[2017-10-16 20:00] keith commented on #87
That does seem to fix this case! Thanks! You can close this if that should be the workaround for this?

[2017-10-16 20:05] yonaskolb commented on #87
Let's leave this open, as your original spec should still be valid

[2017-10-16 20:40] keith opened #88 "The file "Foo.swift" couldn’t be opened with absolute paths"
With this config:

[code]

And this file structure:

[code]

`xcodegen` fails with this error message:

[code]

Should you be able to reference a path like this absolutely? This is useful for when you have more complex file structures where sources and tests are nearby, meaning you can't reference the entire directory or you'll include test files in the non-test target.

Sample project: [XcodeGenT

[2017-10-16 20:46] keith opened #89 "Clear default build settings"
It would be nice if there were a way to clear the default settings XcodeGen provides. This is useful if you define all your settings in xcconfig files, so when you generate the project, you don't want its default settings to shadow yours. I almost expected it to with this configuration:

[code]

But I understand these `base` settings are just additive to the project. In the meantime I might use [x

[2017-10-16 21:01] yonaskolb commented on #89
Interesting. This mirrors the thoughts in #77

[2017-10-16 21:02] keith opened #90 "Resource files included in fileGroups don't get correctly added to targets"
With this configuration:

[code]

And this file structure:

[code]

You end up with a project that doesn't have the `Localizable.strings` in the correct file path, associated with the target:

![image](https://user-images.githubusercontent.com/283886/31635106-8eee2826-b27a-11e7-8e8e-df4943c72ed5.png)

But you do end up with a reference in "Recovered References" that is correctly associated with th

[2017-10-16 21:03] yonaskolb commented on #88
Yeah I guess this should be made possible, as being able to `exclude` files from a source directory hasn't landed yet either

[2017-10-16 21:03] keith commented on #89
Ah yes, I think that kind of only half captures the problem though, since even if you're not overriding the setting, you may not want it to be set in the project. This happens for us a lot in our all Swift app, where we don't really want Objective-C build settings to be set, since future developers won't know if we actually need it, or if it was just set by default by Xcode

[2017-10-16 21:07] yonaskolb commented on #90
While this does indeed seem to be a bug, you shouldn't need to specify any `fileGroup` directories that are already in a target's sources. `fileGroups` are for referencing non build files. I think removing that from the project spec will fix this particular case

[2017-10-16 21:09] keith commented on #90
So the actual case I have is that our source directory is at the top level, with all the other directories nested under it, including xcconfigs. So with [this issue](https://github.com/yonaskolb/XcodeGen/issues/87) I'm referencing the file group at the top level (although maybe I don't need to reference the entire tree) which leads to this state.

[2017-10-16 21:11] keith commented on #90
The goal with the entire source tree in the `fileGroups` is to have a mirror of our directory structure, it looks like without that, if you then reference sources with a path like `foo/bar/baz`, you won't get a group in the project for `bar` where `foo` is in the `fileGroups`

[2017-10-16 21:16] keith commented on #90
This also kinda wraps into the excluded part too though, I guess this wouldn't be a problem if I could include `foo/bar` in my `sources`, but there's another sub-directory for tests, that needs to be excluded from the framework target

[2017-10-16 21:59] keith commented on #90
Also note this only seems to affect localized resources, and not just images or sounds etc

[2017-10-16 22:17] keith commented on #90
Oh actually I believe this was fixed by https://github.com/yonaskolb/XcodeGen/pull/70

[2017-10-17 00:03] keith opened #91 "Ability to copy bundle product types into other targets"
With this configuration:

[code]

You can create a framework target, and an associated resource bundle for that target. But it doesn't seem like there's any way for you to add `ProjectResources` in this case to the copy resources phase of `Project`.

This would be very nice to support for the case where you have static libraries and resource bundles, since that's the only way to vend resources and

[2017-10-17 00:58] keith opened #92 "Frameworks and static library targets should be linked (and sometimes copied) into their dependent targets"
Currently if you create a configuration like this:

[code]

And generate a project, the `Module.framework` is copied into the `Project.app` target, but isn't linked in the "Link Binary and Libraries" phase (as is happening if you just use a vendored framework.

This is the same if you change `type: framework` to `type: library.static` with the one difference that static libraries should be linked,

[2017-10-17 01:13] keith commented on #92
Ah it actually looks like this commit is the culprit https://github.com/yonaskolb/XcodeGen/commit/183630159e760c81c725ba10c75a4679e1a5d46a

[2017-10-17 01:20] keith commented on #92
I've submitted a possible fix for this: https://github.com/yonaskolb/XcodeGen/pull/93

[2017-10-17 01:22] yonaskolb commented on #92
Are you getting build errors without this linking? All the examples I’ve tried work without this

[2017-10-17 01:27] keith commented on #92
Yep, in this case with a static library you get this linker error:

[code]

Here's a sample project: [XcodeGenTest6.zip](https://github.com/yonaskolb/XcodeGen/files/1389463/XcodeGenTest6.zip)

[2017-10-17 01:38] yonaskolb commented on #92
Ah ok, got it. Do you think there is any advantage to linking frameworks as well, even though Xcode seems to do ok with just pointing at the target?

[2017-10-17 01:42] keith commented on #92
We're doing that in our project now, I'm not sure there's any functional advantage, but personally I do like having them there explicitly, since it seems a little strange even that Xcode is smart enough to link them, but not static libraries, without explicitly including them in the link phase.

[2017-10-17 02:02] #69 closed

[2017-10-17 02:02] ryohey commented on #69
fixed in #70

[2017-10-17 02:03] #90 closed

[2017-10-17 02:03] keith commented on #90
Sorry for the dup!

[2017-10-17 04:01] keith commented on #91
I've submitted a possible fix to this here: https://github.com/yonaskolb/XcodeGen/pull/95

[2017-10-17 07:59] pepibumur commented on #92
I think by linking them explicitly you can import symbols from your dependency without using the `@import` syntax. When you use `@import`, Xcode tries to find in the `FRAMEWORKS_SEARCH_PATH` and `LIBRARY_SEARCH_PATH` if there's a library/framework with name, and if there is, it does the linking. Although it works, for someone looking at the project settings, it's not clear that those dependencies

[2017-10-18 22:10] #91 closed

[2017-10-18 22:14] #92 closed

[2017-10-19 20:43] yonaskolb commented on #89
What do you suggest as way to opt out of setting presets? There are presets for the project, debug and release configurations, each platform and each target

[2017-10-19 21:16] keith commented on #89
I guess maybe a top level attribute for this? In theory it could also be per-target, but that seems like overkill?

[2017-10-19 21:26] yonaskolb commented on #89
What about this?
[code]
You can already clear debug and release settings by simply providing a different type other than `debug` or `release`
[code]

[2017-10-19 21:31] keith commented on #89
Oh interesting, is that all that is used for?

[2017-10-19 21:52] yonaskolb commented on #89
Yep, that's all that does. It's documented in the [Project spec ](https://github.com/yonaskolb/XcodeGen/blob/master/docs/ProjectSpec.md#configs)

[2017-10-19 22:00] yonaskolb commented on #89
Another option is to not apply the base settings if the config type is cleared.
From this:
[code]
to this:
[code]

[2017-10-20 05:58] pepibumur commented on #89
I'm more for the `clearBaseSettings` solution. I think it's more explicit and the attribute is at the level of the project, where it's getting applied. Modifying the project configuration based on a target attribute might be too implicit for the developer who wouldn't expect the base settings to be cleared. This could be solved by adding some documentation though.

[2017-10-20 06:59] yonaskolb commented on #89
The configs aren’t a target level attribute, they live on the top level project. Also those debug and release settings actually get applied to the project, not the target

[2017-10-20 11:27] pepibumur commented on #89
Cool! then I'd go with the solution that you proposed.

[2017-10-20 11:44] yonaskolb commented on #89
@keith it's implemented here #100. Have a look and see if this suits your needs 👍

[2017-10-20 12:27] yonaskolb commented on #89
There could still be another solution to clear all the presets including those in targets. Maybe an `options.applySettingPresets` which could be one of the following:
- all (default)
- targets (don't apply any project settings ie, base, debug or release)
- none

What do you think?
Maybe if we had that #100 wouldn't be needed as it would be strange to set `all` here and `none` on the configs?

[2017-10-22 18:21] #89 closed

[2017-10-22 18:46] yonaskolb commented on #89
@keith, I've added a followup PR #101 that allows you to fully control the setting presets. Setting this to `none` removes the need for the commit I noticed you have here:
https://github.com/lyft/XcodeGen/commit/3d2fe091052bd5546be7afbdaad849815299323e

[2017-10-22 18:49] keith commented on #89
Awesome!!

[2017-10-24 20:00] durul opened #104 "xcodegen command does not work"
I am getting error "Parsing spec failed: The file “project.yml” couldn’t be opened because there is no such file."

[2017-10-24 20:04] yonaskolb commented on #104
Hi @durul. Are you running the command in a directory that contains a `project.yml` file? Otherwise are you passing the `--spec` flag to point to the file?

[2017-10-24 20:13] durul commented on #104
Hi @yonaskolb I am running the command in directory included ```project.yml``` file.

[2017-10-24 20:17] yonaskolb commented on #104
Ok interesting. Maybe your file is actually called `project.yaml`? (notice the extension) Otherwise is it using any `includes` or can you share your spec?

[2017-10-24 20:20] durul commented on #104
no problem, I found the problem. ```sudo xcodegen``` works

[2017-10-24 20:20] #104 closed

[2017-10-24 20:23] yonaskolb commented on #104
Oh ok, interesting. You're in a directory where you don't have access to even read files I guess

[2017-10-26 01:43] keith opened #110 "XcodeGen crashes when generating schemes with `settingPresets: none`"
With this configuration:

[code]

XcodeGen crashes when [searching for configurations](https://github.com/yonaskolb/XcodeGen/blob/master/Sources/XcodeGenKit/ProjectGenerator.swift#L113-L114). It looks like this config is actually invalid, because it should be `Debug: debug`, but maybe we should at least validate that in the configuration.

Here's a sample project reproducing this issue: [XcodeGenT

[2017-10-26 11:42] yonaskolb commented on #110
Ah ok. When a target scheme is generated it uses the first debug and release configs it can find. We should add something to the project linting that catches this.
In your case either removing the configs (which will create defaults debug and release configs) or specifying 2 as debug and release will both will fix your use case
[code]
Because you've set settingPresets to `none` the settings for th

[2017-10-26 22:33] yonaskolb commented on #110
This situation is now validated against, so you'll get an error saying that you need a debug and release type build when generating a target scheme, for now.

[2017-10-26 22:36] keith commented on #110
Thanks!

[2017-10-29 13:44] toshi0383 opened #114 "Unwanted diff when modifying generated xcodeproj"
Xcode succeeds to open generated xcodeproj, but generates a lot of diffs when you add files from Xcode.

<img width="698" alt="screen shot 2017-10-29 at 22 41 05" src="https://user-images.githubusercontent.com/6007952/32144310-4b63ebf6-bcfa-11e7-9398-ad1812b68557.png">

This is problem especially when I'm debugging generated xcodeproj, trying to figure out what is correct structure for specific st

[2017-11-02 12:51] yonaskolb opened #122 "Localised files with same name aren't generated properly"
If localized files have with the same name but different extensions, they are generated incorrectly

<img width="270" alt="screen shot 2017-11-02 at 1 39 35 pm" src="https://user-images.githubusercontent.com/2393781/32326518-65e04034-bfd3-11e7-9c3c-c2019cbe8118.png">

[2017-11-02 12:52] yonaskolb commented on #122
@ryohey are you able to take a look at this?

[2017-11-02 19:07] jerrymarino opened #123 "Serialize `ProjectSpec` to JSON"
Good afternoon!

Thanks so much for creating XcodeGen, the project is great.

I'd like to use the `ProjectSpec` and children as a protocol to write out a JSON file. My custom generator would be allocating data structures in `ProjectSpec` directly

Without being able to write the `ProjectSpec` and dependencies to JSON, I need to implement my own version of the spec ( currently on Swift 4 codeable )

[2017-11-02 19:10] jerrymarino opened #124 "Add the ability to support cross target dependencies"
I'd like to have multiple Xcode projects for a mammoth iOS app. Say, `MyApp.xcodeproj` `ThirdParty.xcodeproj` `Core.xcodeproj`.

Currently, there is dependencies between the targets in these projects. Say, `MyApp` depends on `ThirdParty` and `Core`. `Core` depends on `ThirdParty` as well.

I'd like for XcodeGen to be able to partition dependencies across multiple targets within the same workspace.

[2017-11-02 19:16] yonaskolb commented on #124
Yeah, that would be useful. It would require some sort of workspace spec. It’s not in the immediate future as it’s quite a bit of work and I’d like to get XcodeGen to a good and stable place first, but it’s definitely something for the future

[2017-11-02 19:24] yonaskolb commented on #123
Thanks @jerrymarino!
Getting the ProjectSpec to support Codable is possible, but slightly tricky due to the quite dynamic nature of the scheme. Codable in it's default state is quite strict in how things should be represented. It's something I want to add though. Feel free to open a PR for it 👍

Could you explain your usecase a bit more? You would be creating the ProjectSpec in Swift and then gene

[2017-11-02 20:09] jerrymarino commented on #123
@yonaskolb awesome! I was looking at Spec JSON coding implementation this morning, and can see that this would be quite an undertaking. I think it is a better direction than writing and maintaining my own ( dumbed down ) version of it. In a way, this spec is the public API of XcodeGen, so having the data structures writing to a JSON file, would be super useful.

I'm taking iOS build configurations

[2017-11-02 23:31] jerrymarino commented on #91
@yonaskolb @keith I think I've got a similar issue. I'm trying to add some pre built bundles from various Vendors to my iOS App. It looks like merely including a bundle in a targets `sources` won't work. I'm not sure if pre built bundles should be treated as `sources`, but it is aligned with how other resources are implemented

![prebuiltbundles](https://user-images.githubusercontent.com/1245820/3

[2017-11-03 00:58] ryohey commented on #122
@yonaskolb I'll look into it.

[2017-11-03 12:05] #122 closed

[2017-11-03 14:16] peymankh commented on #11
Hey guys,

Is this still not possible? How do you exactly achieve adding SDK dependencies?

[2017-11-03 17:39] rahul-malik commented on #11
@peymankh - You can achieve this by passing configuration settings for your target

i.e.
[code]

Use `-framework` for linking a framework
Use `-weak_framework` for weakly linking a framework
Use `-l` (example `-lc++`) to link a dylib

[2017-11-03 18:17] peymankh commented on #11
@rahul-malik Thanks, that's great.

[2017-11-03 18:27] yonaskolb commented on #11
Thanks @rahul-malik.
Are there any other edges cases that would require explicit linking to something in the SDK directory? Otherwise I might close this

[2017-11-03 18:59] rahul-malik commented on #11
I think they are fairly uncommon but there are cases where you can specify additional sdk paths in xcconfig

[2017-11-03 19:00] peymankh commented on #11
In general, it’d be nice to have support for this out of the box. Maybe `sdkDependencies` attribute?

[2017-11-03 19:11] rahul-malik commented on #11
I think this is an interesting use case for a general design principle here.

Should the spec make it easier to express things that are configurable in xcconfig?

[2017-11-03 20:36] keith opened #129 "createIntermediateGroups results in broken file refs in projects"
With this project config:

[code]

The resulting project has broken file refs to `bar.swift`:

![with](https://user-images.githubusercontent.com/283886/32394861-ed1f03b4-c09b-11e7-91ad-691fb4f35832.png)

Example project: [XcodeGenTest.zip](https://github.com/yonaskolb/XcodeGen/files/1442410/XcodeGenTest.zip)

[2017-11-03 20:38] yonaskolb commented on #129
@bkase can you look at this?

[2017-11-03 20:40] keith opened #130 "Using fileGroups with sources results in missing file refs"
With this config:

[code]

You end up with broken file refs:

![with](https://user-images.githubusercontent.com/283886/32395002-7c5c5946-c09c-11e7-8869-93f686d0d0c0.png)

This is similar to https://github.com/yonaskolb/XcodeGen/issues/129

Example project: [XcodeGenTest.zip](https://github.com/yonaskolb/XcodeGen/files/1442422/XcodeGenTest.zip)

[2017-11-03 20:43] bkase commented on #129
Yup I'll look later tonight/tomorrow

[2017-11-03 20:44] bkase opened #132 "Catch dependency cycles during validation"
Right now XcodeGen will just recurse until stack-overflow

[2017-11-03 20:45] yonaskolb commented on #132
What sort of dependency cycle? Do you have an example?

[2017-11-03 21:35] bkase commented on #132
[code]

I can come up with a small repro test case if it would be helpful

[2017-11-03 22:26] yonaskolb commented on #132
Yeah would be good 👍

[2017-11-04 04:44] bkase commented on #129
@keith How are you generating the project? This works for me on master:

[code]

[2017-11-04 11:40] #130 closed

[2017-11-04 19:50] keith commented on #129
I definitely see this running the same command off master (specifically b120c9da37562d7a2ac9baca6642f0effae3e569 right now)

[2017-11-05 22:46] bkase commented on #129
Ugh I think this just regressed again with my latest patch. I'm putting up a fix now

[2017-11-05 23:16] yonaskolb commented on #129
@bkase, you able to add some tests in the GeneratorTests "Sources" section for intermediate groups. Once we have some stable tests covering all the sources I think it's time for some heavy refactoring, as the code for handling sources is getting quite complex

[2017-11-07 06:59] ismetanin opened #137 "Add Podfile generation"
I'd like to have an option to add Podfile with some pods to project.

Thanks for your awesome project.

[2017-11-07 19:58] yonaskolb commented on #137
Thanks for the suggestion @ismetanin!
While that would be useful, I think there are too many edge cases around generating a podfile, and it can become quite complex. Generating a very basic podfile that makes a lot of assumptions with no specific versions would be possible, but I don't know how useful that is? We could of course build something smarter with a lot of options, but I'd prefer to keep

[2017-11-08 06:59] ismetanin commented on #137
I'd like to add some base pods and install it after generating instead configuring Podfile by myself. I mean we don't need something smarter, just like this:

    platform :ios, '9.0'

    target 'MyProject' do

    use_frameworks!

    pod 'Crashlytics'
    pod 'Fabric'
    pod 'Alamofire'
    pod 'AlamofireImage'
    pod 'AlamofireNetworkActivityIndicator'

    end

[2017-11-08 13:10] sbarow opened #140 "Link multiple Xcode projects"
Is it possible or on the roadmap to be able to link multiple Xcode projects together? I think this would require using a workspace?

While you could possibly achieve this with `targets/frameworks` changing files in one of the `target/frameworks` doesn't trigger a rebuild of its dependencies?

Example:

- App
	- Libraries
		- A
		- B
	- Features
		- C
		- D

[2017-11-08 13:21] yonaskolb commented on #140
Duplicate of #124
Hi @sbarow. Yeah it's on the roadmap, but not in the immediate future. Unless someone wants to open a PR

[2017-11-08 13:21] #140 closed

[2017-11-08 13:30] sbarow commented on #140
Okay, I'll take a look.

[2017-11-09 21:39] yonaskolb opened #141 "Group children are duplicated when sources are shared across targets"
PR #136 seems to have broken the generation of groups and files when multiple targets share the same source directories, even if `createIntermediateGroups` is false.
This issue can be seen the Test project fixture here https://github.com/yonaskolb/XcodeGen/commit/e48045da9e6600df50f6291d02ea4cd78a7bdaa8

[2017-11-10 00:21] #141 closed

[2017-11-10 20:45] jerrymarino opened #143 "Bug .lproj is broken if Base.lproj is missing"
I'm using XcodeGen for a large iOS app, which contains several dependencies and localizations. Many of these dependencies don't have a `Base.lproj` dir. XcodeGen will not handle the lproj's correctly if this is missing

[2017-11-10 20:54] yonaskolb commented on #143
Thanks @jerrymarino. This is mentioned in #70.
@ryohey Could you summarise what changes we need to fix this?

[2017-11-11 00:52] ryohey commented on #143
@jerrymarino @yonaskolb  We can't handle projects correctly that do not use Base Localization for now.
To fix that, we should change to specify the development region to not to use the base localization and fix some codes.
For now it may resolved by renaming the localization directory of your development language to Base.lproj.
I want to see the project to accurately reproduce the problem, Could y

[2017-11-12 17:52] #129 closed

[2017-11-12 19:21] yonaskolb opened #145 "Allow sources to be renamed"
Add a name property to `TargetSource` that will override the name of the file or directory

[2017-11-12 19:26] #145 closed

[2017-11-12 19:41] yonaskolb commented on #114
I'll try and get this resolved after the next `xcproj` release which fixes some missing defaults

[2017-11-12 19:45] yonaskolb commented on #88
This was resolved in #106

[2017-11-12 19:45] #88 closed

[2017-11-12 19:49] yonaskolb commented on #5
Resolved in #135

[2017-11-12 19:49] #5 closed

[2017-11-12 19:50] yonaskolb commented on #29
Resolved in #84

[2017-11-12 19:50] #29 closed

[2017-11-12 19:52] #132 closed

[2017-11-12 20:19] yonaskolb commented on #91
@jerrymarino, your issue should be resolved in #148

[2017-11-12 20:30] yonaskolb commented on #143
So if we basically just add up all the localizations we find and use them to set the known regions, and then have an editable development region we should be good for all cases

[2017-11-13 02:56] ryohey commented on #143
Yes, I think that's right. It is good to add `developmentRegion` to `options`.

[code]

But this is per project preference. I don't know about future spec that may supports multiple projects #124)
@yonaskolb How do you think about that?

[2017-11-13 12:57] yonaskolb commented on #143
Yeah sounds good.
Would anyone have time to submit a PR?

[2017-11-13 23:12] ryohey commented on #143
Thanks I will fix this.

[2017-11-14 01:09] jerrymarino commented on #143
@yonaskolb @ryohey awesome, thanks so much! I think this would make it a lot easier to use  👍

It was confusing to me that it didn't `just work`. After I found it needed `Base.lproj` out, I ended up creating the `Base.lproj` for app, and in all of their dependencies that are localized.

[2017-11-14 06:59] keith opened #150 "fileGroups makes duplicate top level groups"
With this project config:

[code]

And this directory structure:

[code]

You end up with duplicate top level groups named `Foo`:

![image](https://user-images.githubusercontent.com/283886/32766975-3ab04f2a-c8c6-11e7-8653-685376317ec4.png)

Where the structure should actually match the files on disk.

Example project: [XcodeGenTest.zip](https://github.com/yonaskolb/XcodeGen/files/1469821/XcodeGenT

[2017-11-14 07:00] keith commented on #150
Looks like this also happens if you set `createIntermediateGroups: True`

[2017-11-14 10:47] yonaskolb commented on #150
On it!

[2017-11-14 11:06] yonaskolb commented on #150
@keith I can't reproduce this, either in a test or your example project. Is this off master?

[2017-11-14 16:51] keith commented on #150
This happens for me off master (e8188ad9f825f6cc978f55721f1c68d150d4f399) yes

[2017-11-14 19:31] yonaskolb commented on #150
Strange. I've run it on the exact project you attached with success...

<img width="171" alt="screen shot 2017-11-14 at 8 28 45 pm" src="https://user-images.githubusercontent.com/2393781/32800400-80a30c66-c97a-11e7-9c19-6c2c6f36c871.png">

I've also just committed a passing test to master

[2017-11-14 19:38] yonaskolb commented on #143
Once this is done, I'll cut a release

[2017-11-15 00:35] yonaskolb commented on #25
Resolves in #151

[2017-11-15 00:42] yonaskolb opened #152 "Add TargetSource.buildPhase"
This would allow you to override the guessed build phase of a source file or group of source files

[2017-11-15 00:43] yonaskolb opened #153 "Add TargetSource.createIntermediateGroups"
This would allow fine grain control of whether a source creates intermediate groups. The current setting in options would be a default and this would override that.

[2017-11-15 00:45] yonaskolb commented on #150
If you're still seeing this @keith, could you submit a failing test?

[2017-11-15 00:53] keith commented on #150
I don't think the test added here https://github.com/yonaskolb/XcodeGen/commit/2c1789f71760f62df3458318a391ed58f8774d19 actually tests the problem. In my case the sources are still correctly added with their correct source paths to the compile build phase, it's just that the groups are wrong. I'm still seeing this after a clean build on master, trying to dig in and see why it's not happening for y

[2017-11-15 00:59] yonaskolb commented on #150
If the directories looked like they do in your screenshot that test should fail, as the nest navigates down into the groups

[2017-11-15 01:34] keith commented on #150
It looks like the project that is generated by the tests (if I write it out manually) works correctly for me as well. So I'm not sure what the difference is.

[2017-11-15 01:59] #25 closed

[2017-11-15 11:14] yonaskolb commented on #143
Resolved in #155

[2017-11-15 11:34] yonaskolb commented on #143
Actually #155 won't fix the issue of not having a `Base.lproj`

[2017-11-15 13:25] yonaskolb commented on #150
I was able to reproduce the issue! I did it by running xcodegen from within the project directory you sent me. I was running it from another directory before (an xcode build directory with --path and --project arguments pointing to your project)
So it's something to do with relative paths

[2017-11-15 13:59] #150 closed

[2017-11-15 15:13] keith commented on #150
Aha! Phew, I’m not crazy. Thanks!

[2017-11-15 15:15] yonaskolb commented on #150
I'm surprised no one else found that during this release preperation

[2017-11-15 15:59] #87 closed

[2017-11-15 16:00] yonaskolb commented on #87
Fixed in  https://github.com/yonaskolb/XcodeGen/commit/b2a2a01da7e9a3d04d7adfa8ad5877f67b62dfbd

[2017-11-15 21:11] #143 closed

[2017-11-17 18:40] jerrymarino opened #159 "Adding files: the default target is not selected"
When I add a new file in in an XcodeGen created project, the files are added to the first target in the list.

If I hand create Xcode project, by default, file are automatically added to the right target.

This is a pain point for users when there is 60 targets in the project.

Is there a way to fix this issue? I think there is a mapping that Xcode creates with a given directory to targets.. Perha

[2017-11-19 15:50] peymankh opened #162 "Sources: Add multiple sources of a target as subgroup of that target"
This would be ideal when using multiple targets where each may have one or more than one source path.

An example would be:

[code]

Currently it results in the following:

[code]

The ideal result would be:

[code]

This would also result in better structure of what the source hierarchy is even if more than one target is sharing the same source path(s).

This presumably cannot be the case if `cre

[2017-11-20 21:34] sbarow opened #163 "Link & Embed implicit dependencies"
I have multiple `.xcodeproj` generated using `XcodeGen` which are then added to a work space.

Say we have the structure:
- App (depends on UI & Foundation)
- UI (depends on Foundation)
- Foundation (no dependencies)

With there respective `project.yml` files being defined like this:
[code]

This will compile and launch correctly on simulators because the build option for implicit dependencies is

[2017-11-20 22:01] yonaskolb commented on #163
Hi @sbarow
There's currently no way to achieve this in the spec that I know of. I guess this goes back to the question of generating the whole workspace as per #24. I want to open up a proper discussion about that soon.

Does anyone have an idea of a workaround in the meantime?

[2017-11-20 22:09] yonaskolb commented on #162
Yeah something like could be nice to have as something in `options`. Though I'm not sure how it would work when multiple targets would share the same sources. As you say it might fit with `createIntermediateGroups`, so maybe that would be deprecated in favour of a `automaticGroups` property that can take a few different string cases like `intermediate` or `targetName`.

Another way of implementing

[2017-11-20 22:09] rahul-malik commented on #163
@sbarow - Can you just add `$(BUILT_PRODUCTS_DIR)` to `FRAMEWORK_SEARCH_PATHS` via an xcconfig file / config setting?

[2017-11-20 22:09] sbarow commented on #163
I have a script that can do the workspace generation pretty easily depending on the folder structure & `project.yml` files and its dependencies but needs this to be work before I can make it public.

Could we create a new `Dependency` type which would create a `PBXFileReference` with `sourceTree: .buildProductsDir`? Not sure how involved this would be and if its a road I want to go down?

[2017-11-20 22:15] yonaskolb commented on #159
I just tested this on one of my own generated projects. It seems to preselect the right target whenever I right click on a certain target's group and create a new file, except if that group contains sources from multiple targets (multi-platform targets). Are you seeing otherwise?

I don't use `createIntermediateGroups` though. Maybe that has something to do with it

[2017-11-20 22:20] sbarow commented on #163
@rahul-malik that doesn't seem to work, the build still fails saying it can't find the frameworks.

[2017-11-20 22:27] yonaskolb commented on #163
@sbarow adding something like that to `Dependency` is definitely doable, if you'd like to submit a PR for it.

[2017-11-21 13:10] #163 closed

[2017-11-21 23:58] jerrymarino commented on #159
@yonaskolb thanks so much for testing this out man - much appreciated!

It looks like Xcode associates targets based on the name of the folder.

After some debugging and testing of Xcode, here is what the logic seems to be:

[code]

This seems to match up with fact that Xcode creates a folder with the name of the target at the project root.

I don't know if is anything that could be set in an Xcod

[2017-11-21 23:58] #159 closed

[2017-11-22 08:12] yonaskolb commented on #159
I see. I guess most people would have their sources in a folder that is named after the target. If not I guess #162 would be a good fix

[2017-11-22 16:30] sbarow opened #168 "[RFC] Workspace generation"
I wanted to open the discussion around workspace generation and dependencies - opening a new task for the issue for a more concrete discussion.

To support making applications as modular as possible we would want a `app/project.yml` file to be able to specify a dependency on another `lib/project.yml` file. Looking at the way [buck](https://buckbuild.com) refers to dependencies in the BUCK file (ba

[2017-11-22 17:50] rahul-malik commented on #168
@sbarow - This is something we want as well and it seems like handling the generation of multiple projects and managing their build dependencies should be in the scope of XcodeGen. We're using Bazel over at Pinterest so I'm a bit biased in favor of your exact implementation suggestion :)

- I imagined a workspace feature would largely be additions into the project specification (introduce a top-le

[2017-11-22 18:56] jerrymarino commented on #159
@yonaskolb if there was a way to fix this with an Xcode project change that would be amazing.

What it looks like is Xcode is searching for a target based on the `file path` and not the group. For example, given the project:
[code]

If you have the source tree:
[code]
Everything works as expected.

Now, if you have a source tree, where `ChildLib` is a child of `Application/`.
[code]
The default ta

[2017-11-22 20:25] jerrymarino commented on #168
First off, this would be awesome 🥂

A couple cases I've been thinking about are:

- How propagating information across the projects would work.  By transitive info, I mean build data that is not implemented as a target: linker flags, header search paths, etc.

- Xcode seems to not allow depending on files that aren't in the current project or a child of that project. So another edge case is copyin

[2017-11-22 20:43] pepibumur commented on #168
Yeah! I think it'd be awesome to have such feature in XcodeGen 👏

I think it'd help a lot of companies with building modular apps. We at SoundCloud found very cumbersome to maintain a modular setup with multiple projects and workspaces. Buck & Bazel were options that we considered to do the automation but we didn't have enough resources to change our build infrastructure.

The way I imagined this

[2017-11-22 20:45] sbarow commented on #168
@rahul-malik on your points:
1. I like the idea of a workspace object for naming, settings etc. Something we do within our `BUCK` file is to specify "workspace schemes" which can be a variant of the target with different schemes to include which is great if you have a project with hundreds of modules/projects. Regarding the paths to other `.yml` files, I would argue that this can be done through t

[2017-11-22 21:54] jerrymarino commented on #168
@sbarow awesome work!

I think the answers to the first 2 points are incredibly opinionated:

-  P1: Include defs is a useful ability in Buck. In Bazel some metadata is propagated by the build system to compiler invocations automatically. i.e. a dependencies `include`'s are propagated to dependents.

- P2: Bazel is automatically propagating bundle dependencies to the App from all `objc_library` an

[2017-11-23 09:55] alexruperez opened #169 "Target Scheme codeCoverageEnabled = "YES""
Hi @yonaskolb! 😃
How can we set true the "Code Coverage" flag to gather coverage data?

![Coverage](https://raw.githubusercontent.com/intelygenz/Archit-iOS/master/Resources/gather_coverage_data.png)

Thanks!

[2017-11-23 10:53] alexruperez commented on #169
The first step should be @pepibumur or any reviewer with write access approves this https://github.com/xcodeswift/xcproj/pull/166

And later add something here, right? https://github.com/yonaskolb/XcodeGen/blob/0c1325cc5fd6fdc190e250d6a8786ce6bff1a2e1/Sources/XcodeGenKit/ProjectGenerator.swift#L66

[2017-11-23 11:14] pepibumur commented on #169
The PR has been merged @alexruperez. @yonaskolb can give you better feedback about how to support it from the XcodeGen project specification file.

[2017-11-23 11:19] alexruperez commented on #169
Thanks @pepibumur! 🙌

[2017-11-23 13:23] yonaskolb commented on #169
Hi @alexruperez! Thanks for helping out!

Currently there are 2 methods for creating shared schemes.
There is a small convenience api on `Target` called `scheme: TargetScheme`. This generates a scheme for that single target, and only allows you to add some test targets and config variants (config variants allow you to specify for example `[test, staging, production]` and it would use debug or rele

[2017-11-23 14:56] alexruperez commented on #169
Thanks @yonaskolb, I've tried to do it in https://github.com/yonaskolb/XcodeGen/pull/170 as you explained, it works perfectly for me. 😃

[2017-11-24 10:45] #169 closed

[2017-11-27 06:23] rahul-malik commented on #168
@pepibumur - My thought on the implicit framework linkage was purely just mentioning we need to keep other output products like `static libraries` in mind when figuring out how to build projects where a dependency might exist in a different project within the same workspace.

@sbarow:

- I don't feel too strongly about file-paths to other yaml files but it seems like a simple extension for users t

[2017-11-27 14:52] alexruperez opened #173 "Create breakpoints"
@yonaskolb is there any way to [create breakpoints](https://github.com/intelygenz/Archit-iOS/tree/feature/XcodeGen#-project-configuration)? (Exception, symbolic...)

What would be necessary for it?

@pepibumur should we add this functionality to [xcproj](https://github.com/xcodeswift/xcproj) first?

Thanks! 🍻

[2017-11-28 10:12] pepibumur commented on #173
Yes @alexruperez you can extend xcproj to support breakpoints 😛

[2017-11-29 07:31] rahul-malik commented on #168
@sbarow @pepibumur - How do you suggest moving forward? I think between all of us we have similar app architecture needs (modularization, multi-project, etc.) so I believe we can find a good solution that works for all of us.

If i'm understanding the RFC correctly:
- It seems like we would have many `project.yml` files at various levels of the file hierarchy
- `xcodegen` would be modified to take

[2017-11-29 13:06] pepibumur commented on #168
Yeah, this is a need may big apps have, I agree with moving this forward. What do you think about moving this RFC to a Google Docs? It'll be easier to leave comments there and think about how to break this down to do it achievable steps.

[2017-11-30 11:53] yonaskolb commented on #173
Yeah, I guess it could be useful for some people. Though simply committing either the shared breakpoints, or having user breakpoints might be a good solution as well. Are there other use cases where this would be useful?

[2017-11-30 12:08] alexruperez commented on #173
I thought about shared breakpoints not committed in the repo (ignored by Git), I'm working on it, as I find problems/doubts, we can discuss them in the pull request, agree? 😃

[2017-11-30 12:11] yonaskolb commented on #173
👍

[2017-12-02 15:57] peymankh opened #179 "Update current Xcode version"
Currently the Xcode version is 0900 where as the latest Xcode should be 0910.

Question is whether this should be supported with as an option or should we continue using the hard coded version.

[2017-12-02 16:08] peymankh opened #180 "Support for recursive Source excludes"
Currently Source excludes are implemented with using glob patterns.

#### Examples

- `ios/*.swift`: all files with full path that ends with .swift
- `ios/configs`: all files and directories under ios/configs
- `README.md`: the README.md file in the root directory of your repository (doesn’t match ios/README.md)
- `ios/*.[mh]`: files with the extension .m or .h only under the ios directory (but no

[2017-12-02 16:13] yonaskolb commented on #179
Yeah this could be updated. Does that fix any practical issues?
We could add an option as well

[2017-12-02 16:14] peymankh commented on #162
This is something that should be resolved with the Workspace creation as discussed in #168. Realistically targets with multiple source directories should belong to their own project file. Closing this for now.

[2017-12-02 16:14] #162 closed

[2017-12-02 16:19] peymankh opened #181 "Script Double Quote Escaping"
Reference to issue #41 and fixed in swift-xcode/xcodeproj#59.

Seems to me this is currently being overdone.

For example `cp $FILE "$DEST/file"` should not be escaped because it will cause cp to fail.

@yonaskolb thoughts?

[2017-12-02 16:21] peymankh commented on #179
It's really just to avoid Xcode warnings to `Update Project Settings`.

OK I'll add this as an option with `0910` as default.

[2017-12-02 18:57] rahul-malik commented on #179
@peymankh @yonaskolb - Would it make sense to infer this based on the currently selected path for the Xcode toolchain? The advantage there is that you won't have to update this every time there is an update

[2017-12-03 09:02] yonaskolb commented on #179
@rahul-malik that’s a good idea. Though sometimes a new Xcode may have breaking changes that have we to accomodate, so we can’t automatically support all future versions. So it might be good to still manually update to newer versions as the fallback

[2017-12-03 15:55] peymankh commented on #179
@rahul-malik I think I have to agree with @yonaskolb on this.

[2017-12-04 22:36] sbarow commented on #168
Before opening this RFC, I worked on a version of this in Python. It might be useful to have a look at [workspacegen](https://github.com/sbarow/workspacegen)

I am happy to add you guys to this, we could use the readme as a kind of RFC/TODO list if that makes sense? Google Doc can work also.

I'll work on this a bit more tomorrow and get some thoughts down on the points raised above.

[2017-12-05 05:46] rahul-malik commented on #168
@sbarow - Thanks for sharing! Will take a look soon.

@pepibumur @sbarow - I think there is value with getting an RFC doc started and I'm happy to put one together based on this conversation.

One approach I thought of is that we might be able to approach this in a few phases:
1) Any necessary schema changes and `xcproj` changes necessary to create / modify a workspace
2) Adding simple `query`-lik

[2017-12-05 12:58] pepibumur commented on #168
Sounds good, would you mind sharing the one that you already started @sbarow? I think we can move from there and come up with implementation phases that we can work on, and maybe do things in parallel if it's possible.

Adding to your points @rahul-malik:
1. Yeah, right now `xcproj` scheme support is very basic. There's work we need to do there to support this work.
2. That would be great. We coul

[2017-12-06 00:32] keith opened #183 "createIntermediateGroups ends up with broken file refs"
With this project configuration:

[code]

And this folder structure:

[code]

Running XcodeGen results in a broken project file:

![screen shot 2017-12-05 at 16 32 41](https://user-images.githubusercontent.com/283886/33638237-f12cc034-d9d9-11e7-90e0-6310c3007316.png)

Example setup: [XcodeGenTest.zip](https://github.com/yonaskolb/XcodeGen/files/1533449/XcodeGenTest.zip)

[2017-12-06 01:03] keith commented on #183
Also note this is if I run XcodeGen like this: `~/dev/XcodeGen/.build/debug/XcodeGen`

Which has affected things before

[2017-12-06 01:40] kastiglione commented on #183
Works as expected when I run via Xcode, but shows the issue when I run from command line (in my case: `/Users/me/Library/Developer/Xcode/DerivedData/XcodeGen-fngkjwgtxtgranfpfoueepyertpg/Build/Products/Debug/XcodeGen`)

[2017-12-06 01:46] kastiglione commented on #183
If I specify `--spec path/to/project.yml` then it works.

[2017-12-07 11:44] yonaskolb commented on #181
@allu22 do you have any thoughts on this? https://github.com/xcodeswift/xcproj/pull/159 may have affected this as well

[2017-12-07 17:43] #181 closed

[2017-12-07 20:29] #183 closed

[2017-12-08 17:13] vhbit opened #188 "Add support for different command line arguments for different scheme action"
It's a suggestion to improve what started in #172 - while profile & launch actions usually don't differ much, test action quite often has its own set of command line arguments.

[2017-12-08 17:23] rahul-malik commented on #188
I thought about doing this originally but was unsure what the appropriate schema change would be to enable it. We have support in xcproj to vary the arguments by them type so it's just updating the schema

[2017-12-08 22:42] bkase opened #189 "Add options for indentWidth and tabWidth"
Hi!

If https://github.com/xcodeswift/xcproj/pull/183 lands, xcproj will be able to support encoding the indentWidth and tabWidth directly inside a PBXGroup. This overrides the default settings that a user has specified in Xcode (so it's a way to enforce code consistency in a project).

I think it would be great for XcodeGen to support this, but I'm not sure the best way to introduce it into the P

[2017-12-11 18:54] bkase commented on #189
It seems like `options` would be the right place for this. What do you think?

[2017-12-12 01:45] yonaskolb commented on #189
Yeah, options is good 👍

[2017-12-14 20:26] yonaskolb commented on #188
@vhbit do you mean `target.scheme`? That is a simpler version of a full scheme spec, and is designed for simple cases. If you want to have more control over build actions then use `spec.schemes`. If you specify a scheme there you can have different command line arguments for each build action type

[2017-12-15 06:36] vhbit commented on #188
@yonaskolb I feel I'm missing something, there is no mention of `spec.schemes` in docs.

[2017-12-15 08:32] yonaskolb commented on #188
Yes, sorry you are right. It wasn’t added as it was still a work on progress. I’ll add some documentation.

In the meantime you can look at Scheme.swift to see what it supports

[2017-12-18 03:57] xgalaxy opened #192 "Framework dependencies aren't found"
Here is what my dependency section looks like:
[code]

In XCode under the Frameworks folder they show up with the relative path as the name. And when I try and compile I get this error:
[code]

If I manually remove and readd the frameworks in XCode it compiles fine.

[2017-12-18 03:58] xgalaxy commented on #192
As an aside it would be kind of nice if these didn't show up with the relative path but just the name instead. But I digress.

[2017-12-18 05:25] yonaskolb commented on #192
Interesting, I’ll need to debug this. They should indeed be showing up with just the name, and linking correctly.
Are you also adding the vendor directory as a target source? If so, that might be messing things up.

[2017-12-18 21:28] #189 closed

[2017-12-19 13:59] yonaskolb commented on #192
Are you able to share more of your spec @xgalaxy? Do you have the `createIntermediateGroups` options on, any `fileGroups`, included `Vendor` or it's sub directories as sources?

[2017-12-19 17:32] vhbit opened #193 "Can't test target as `spec.schemes` doesn't generate testables"
Sample code:

[code]

Resulting `STCore` Xcode scheme doesn't have any `Testable` set so it's impossible to test scheme `STCore`

I've checked on 1.4.0 but after a quick look into the code I think it is still presented on master.

[2017-12-19 17:33] vhbit commented on #188
@yonaskolb sorry for a delay. Yep, `spec.schemes` has everything needed. The only thing stopping it from adoption is unrelated issue - it doesn't generate `Testables` so Xcode thinks that target is not testable. I've opened #193 to keep it separated.

[2017-12-19 17:37] yonaskolb commented on #193
Yeah that's something that's missing from the expanded scheme spec. It's still a work in progress,  which is why it isn't actually documented.
In your simple case though you should be able to add the scheme in the target spec.
[code]

[2017-12-19 17:39] yonaskolb commented on #193
Oh, I see from your comment in #188 that you also need differing command line arguments...

[2017-12-20 10:08] yonaskolb opened #196 "Generate from Swift PM Package"
This would allow SwiftPM to be used as a dependency manager, but allow XcodeGen to generate the project. This means you can use your own build settings, and also allows for iOS development via Swift PM

[2017-12-20 13:51] pepibumur commented on #196
This is a great idea! Would you then parse the `Package.swift` and figure out how the Xcode projects for the dependencies should be? @yonaskolb

[2017-12-20 14:04] yonaskolb commented on #196
I think there are a few options:

1. specify swiftPM dependency type, and then link dependencies from:
    - an existing `Package.swift`
    - a `Package.swift` we generate
2. generate directly from an existing Package.swift file and provide some command line options
3. add some sort of package option in the project spec which then generates the target specs from that, and lets you override settin

[2017-12-20 14:15] yonaskolb commented on #196
It's basically a question of where the source of truth should be. Considering that Swift PM is the future, I would say there. Hopefully Swift PM finally gets to a point that it can remove the need for XcodeGen, thought it might a few years away for it to support everything we do.

[2017-12-20 15:51] #179 closed

[2017-12-21 08:24] vhbit opened #198 "Command line args for test/profile actions are disabled by default"
Even if they are provided in `spec.scheme`, they aren't shown and applied in Xcode

[2017-12-21 08:35] #198 closed

[2017-12-21 09:10] #193 closed

[2017-12-21 10:36] #188 closed

[2017-12-21 10:49] yonaskolb opened #202 "Tests aren't failing if fixture schemes change"
Depends on https://github.com/xcodeswift/xcproj/issues/200

[2017-12-23 02:08] xgalaxy commented on #192
Yes. Sorry for the delay. Maybe I'm doing something wrong? Thanks for the help.

[code]

[2017-12-26 08:19] yonaskolb opened #207 "Ignore renamed Info.plist files"
At the moment `Info.plist` files are treated differently in that they don't get added to the Resources build phase.
We should change this to check a target's various levels of build settings for `INFOPLIST_FILE`, and ignore what is in that setting as some projects may use a different name than `Info.plist`

[2017-12-26 08:29] yonaskolb commented on #207
I wonder if it's worth creating an actual `infoPlist` property on `Target` for easily setting this build setting?

[2017-12-26 16:36] yonaskolb commented on #192
Your spec looks fine. I downloaded the realm frameworks and couldn't get them to link properly even manually, which is strange. How did you accomplish it?
I've fixed the issue with the framework names

[2017-12-27 03:25] gin0606 opened #208 "R.swift can't parse generated *.xcodeproj"
Hi!
I need help.

I try to use XcodeGen with R.swift.
But R.swift show error ;(

[code]

I made the smallest project to see errors.

https://github.com/gin0606/xcodegen-v1.4.0-trouble

Thanks!

[2017-12-27 06:27] keith opened #210 "Optional file paths with existing files get duplicated"
With this project configuration:

[code]

And this folder structure:

[code]

`Foo.swift` is included twice if it already exists at the time the project file is generated.

Here's an example project demonstrating the issue: [XcodeGenTest.zip](https://github.com/yonaskolb/XcodeGen/files/1588462/XcodeGenTest.zip)

[2017-12-27 06:28] keith commented on #210
I also noticed that this is case sensitive. Meaning if you change the sources directive to be `Sources/foo.swift`, it will appear twice in the xcodeproj for the same file on disk

[2017-12-27 08:48] yonaskolb commented on #208
Hi @gin0606. The problem seems to be that `XcodeEdit` (which R.swift uses to read xcode project files) was being a bit too strict.
We now generate that the required property in #23, as Xcode automatically generates it when you open the project anyway

[2017-12-27 08:49] #208 closed

[2017-12-27 09:13] yonaskolb opened #214 "Add spec linting"
This would run the current validator (which highlights errors), but also a seperate linting phase that would provide suggestions on how to simplify the spec using all it's features eg. use the `deploymentTarget` instead of setting `IPHONEOS_DEPLOYMENT_TARGET`

[2017-12-27 09:15] #3 closed

[2017-12-27 09:24] yonaskolb opened #215 "Generate default shared schemes?"
At the moment shared schemes are only generated if they are defined in `target.scheme` or `schemes`. The problem is if someone want's to generate a simple shared scheme with no special options the best option is to specify a target scheme with no options has a bit of weird syntax.
[code]
This issue is highlighted here https://github.com/yonaskolb/XcodeGen/issues/57

What we could do is generate a

[2017-12-27 09:25] yonaskolb commented on #57
Closing as custom schemes can be be generated.
Moving discussion here https://github.com/yonaskolb/XcodeGen/issues/215

[2017-12-27 09:25] #57 closed

[2017-12-27 10:47] keith commented on #210
The casing wasn’t the only issue here, did that fix also fix the problem of the file being added to the compile sources twice?

[2017-12-27 10:57] yonaskolb commented on #210
Ahh I see. No, I fixed the duplicate file references, but not the duplicate build files. That would have to be a more in depth solution

[2017-12-27 11:40] gin0606 commented on #208
Problem solved!
Thanks a lot!!

[2017-12-28 03:01] toshi0383 commented on #207
I would suggest users to set `INFOPLIST_FILE` somewhere explicitly, rather than introducing `infoPlist` property on `project.yml`. That's how it works anyways.
And this `infoPlist` property possibly conflicts with `INFOPLIST_FILE` settings. We're already doing implicit `Info.plist` detection, so implementability of this part would become worse I guess.

[2018-01-02 10:45] faken commented on #180
+1

[2018-01-03 11:16] #210 closed

[2018-01-06 01:04] xgalaxy commented on #192
I'm not sure? I had no problems linking with them and to my recollection I did nothing special.

[2018-01-08 10:35] codeOfRobin opened #222 "Project.yml for the "average" Library"
Hey!

I'm trying to build a directory structure fairly similar to how most cross platform libraries are structured.

I'd like to have:
- 1 `Sources` directory which has most of my core logic
- A directory for each platform that has platform specific logic, of the form `ProjectName-{OS_NAME}`. So, if my library is called `RxDwifft`, the folders are `RxDwifft-iOS`, `RxDwifft-macOS` etc. Each of thos

[2018-01-08 13:18] yonaskolb commented on #222
Hi @codeOfRobin
Yes, what you're aiming for is totally possible. See here for details about multi platform targets https://github.com/yonaskolb/XcodeGen/blob/master/Docs/ProjectSpec.md#platform

Basically if a target has multiple platforms, multiple targets will be created. By default these targets will have a `_platform` suffix. Then anywhere within that target specification you can reference the

[2018-01-10 04:44] yonaskolb commented on #71
Resolved in #221

[2018-01-10 04:44] #71 closed

[2018-01-17 19:59] kastiglione opened #223 "Update to xcproj 2.0 or later"
Are there plans to upgrade to xcproj 2.0? Are there any known issues/blockers? I want to add XcodeGen support for scheme pre- and post- actions, which will depend on xcodeswift/xcproj#217, which will presumably be in a 2.x.y release.

[2018-01-17 21:42] yonaskolb commented on #223
There is actually a PR in progress for this #191
@pepibumur will you be continuing to work on that, or should someone else take that over?

[2018-01-17 21:45] kastiglione commented on #223
Oops, I searched in issues but not pull requests.

[2018-01-17 23:08] pepibumur commented on #223
I don't have much time these days to work on it. Feel free to take it over @kastiglione if you want to 😛

[2018-01-17 23:40] kastiglione commented on #223
@pepibumur I will have a look. Do you have time to answer questions if I have some?

[2018-01-18 12:31] pepibumur commented on #223
Yes! definitively

[2018-01-19 15:08] #152 closed

[2018-01-19 19:03] codeOfRobin opened #224 "Add another xcodeproj as a dependency"
Hey Yonas!

Lots of times when I'm working on a dependency and an app together (like my swift API client and my app at work), I like to include the API client's xcodeproj (by simply dragging and dropping) so I can make changes and have them appear directly in my app. Is there any good way to support that kind of workflow with xcodegen?

[2018-01-20 10:37] yonaskolb commented on #124
This should work using `implicit` `framework` dependencies as described here #224

[2018-01-20 10:39] yonaskolb commented on #224
Hi @codeOfRobin
You could reference your API client as an implicit framework dependency, and then add both projects into a workspace.

api client spec
[code]

app spec
[code]

If your API client is simply an existing xcodeproj that will work too.

In the future we could even generate the workspace, as described here #168

[2018-01-21 01:58] keith commented on #223
Should update to 3.x now https://github.com/xcodeswift/xcproj/releases/tag/3.0.0

[2018-01-21 13:08] yonaskolb commented on #223
I've having a look at this now 👍

[2018-01-22 05:09] yonaskolb commented on #224
Did that all work out for you @codeOfRobin? Is it ok if I close this?

[2018-01-22 09:39] codeOfRobin commented on #224
Yeah, it did @yonaskolb ! Thank you for being so helpful 😄

[2018-01-22 09:39] #224 closed

[2018-01-22 09:55] codeOfRobin commented on #224
Question btw, could you refer to a project in a different folder altogether?

[2018-01-22 09:58] yonaskolb commented on #224
Yeah sure, that's up to the workspace you create

[2018-01-22 11:57] codeOfRobin commented on #224
Ah, I didn't realize I'd have to manually create the workspace 😅. Can't wait for #168 🎉

[2018-01-23 07:08] codeOfRobin opened #226 "Use xcodegen *and* be a carthage dependency"
Hey!

If a project uses xcodegen (and consequently - doesn't commit the `.xcodeproj` file to the git repo), it can't be used in carthage as a dependency, right?

I think carthage always depends on the project files being present so it can compile targets into frameworks.

Is there a good way to do both, i.e. not commit a project to the repo AND be carthage compatible?

[2018-01-23 07:59] yonaskolb commented on #226
That is true, you need a checked in project to be Carthage compatible. But it doesn’t mean you can’t still use XcodeGen to configure the project

[2018-01-24 00:56] jerrymarino commented on #223
👍 pre/post scheme actions would be super useful for me!

[2018-01-24 01:07] jerrymarino commented on #223
Awesome - looking forward to it @kastiglione

[2018-01-24 01:13] yonaskolb commented on #223
I currently have a xcproj 3.0 branch ongoing that isn’t published. I can get it done later today

[2018-01-24 01:14] yonaskolb commented on #223
Actually, it depends on changes that require an xcproj 4.0 with this PR included https://github.com/xcodeswift/xcproj/pull/218

[2018-01-24 14:26] pepibumur commented on #223
@yonaskolb is it ok if we release after your last two PRs are merged?

[2018-01-24 22:04] yonaskolb commented on #223
Yeah, unless there’s anything else breaking we want to get in

[2018-01-25 00:17] kastiglione opened #228 "Support scheme actions"
I've started working on adding support for scheme pre-actions and post-actions and have some questions.

Has anyone already given this some thought? The [spec](https://github.com/yonaskolb/XcodeGen/blob/master/Docs/ProjectSpec.md)'s current design steers toward adding pre/post actions to [schemes](https://github.com/yonaskolb/XcodeGen/blob/master/Docs/ProjectSpec.md#scheme). This is because action

[2018-01-25 01:32] yonaskolb commented on #228
Currently `target.scheme` is just a convenience api which makes adding simple schemes easy, as you don't have to worry about names or targets.
The top level `schemes` is where you can add more complex schemes. Issue #215 contains a similar discussion.

[2018-01-25 01:35] #114 closed

[2018-01-25 01:58] yonaskolb commented on #228
For scheme actions, I would say we add them to the `Scheme`, but could possibly also add them to `TargetScheme` which would just add them to every supported action, which again is about convenience.

[2018-01-25 07:27] codeOfRobin commented on #226
Ah gotcha! Thanks!

[2018-01-25 07:27] #226 closed

[2018-01-25 08:51] yonaskolb commented on #226
Remember that even if you check in your project, xcodegen still helps you get around conflicts by simply regenerating

[2018-01-25 08:52] codeOfRobin commented on #226
Oh right. That is AMAZING. Thank you so much for making xcodegen 🙏

[2018-01-28 09:08] #223 closed

[2018-01-30 06:41] #228 closed

[2018-01-30 15:01] pepibumur commented on #215
Given that developers using XcodeGen will very likely not include the Xcode project in the repository, I'd default a shared scheme for each target. I think it's better than having to define an empty dictionary in the yaml. I can't think of a case where you don't want a shared scheme to be generated.

[2018-02-01 22:54] kastiglione opened #234 "Include standalone XcodeGen binaries in releases"
Has there been any interest in making a binary available with each release? The way we manage versioning and updates of XcodeGen is by creating a release in our fork that includes a binary. If others want this too, maybe it's worth adding binaries to the official releases.

[2018-02-05 22:51] jerrymarino opened #235 "Atomic writing?"
Is it possible to make XcodeGen support atomic writes? I noticed that if the program is killed, it can end up in a weird state ( i.e. schemes may not be written but the project was ).

I'd like to write the project to a temporary file path, and then copy it over once writes are fully complete. I noticed this is non trivial due to validation in XcodeGen, which seems to check paths relative to the o

[2018-02-05 22:57] yonaskolb commented on #235
Yeah should be possible to write to a temporary file and then copy over.
It would have to be a smart copy though that doesn’t remove people’s private data, but still overwrites some directories like shared schemes

[2018-02-05 22:59] yonaskolb commented on #235
That would mean XcodeGen would need to be knowledgeable about the project structure on the filesytem which isn’t great.
Just though of a better way. Copy the existing project to a temporary directory, then overwrite with generated project, and then copy back

[2018-02-06 00:18] jerrymarino commented on #235
@yonaskolb thats a really good point. We'd need to merge any user created directories into the new project. I like your idea of just copying over and overwriting the old project - this is super clean. 👍

[2018-02-07 06:12] yonaskolb opened #236 "Add support for Scheme action enviroment variables"
This would allow for setting environment variables in schemes.

My main motivation for this is being able to set `OS_ACTIVITY_MODE` to `disable`, to remove Xcode's garbage logging in the console 😄

![screen shot 2018-02-07 at 5 10 56 pm](https://user-images.githubusercontent.com/2393781/35901286-014aba16-0c2a-11e8-94cf-0e0443bb1440.png)

[2018-02-08 13:35] allu22 opened #237 "Version 1.6.0 is not available for homebrew"
`https://github.com/yonaskolb/XcodeGen/blob/master/Formula/xcodegen.rb` lists 1.5.0 as latest version.

[2018-02-08 21:02] yonaskolb commented on #237
Good catch, formula updated!
(For future reference, formula is updated with `make update_brew`)

[2018-02-08 21:02] #237 closed

[2018-02-10 20:43] turekj commented on #236
@yonaskolb this is super useful for snapshot testing, too! See: [iOSSnapshotTestCase](https://github.com/uber/ios-snapshot-test-case)

[2018-02-11 01:37] yonaskolb commented on #234
No one has asked about yet. One thing is that the `settingPresets` also need to live in the same directory, which mint and homebrew setup correctly.

It's possible to bundle everything up into a zip. I'd want to do this automatically though via the makefile. If you'd like to write a script to talk to github that's great!

[2018-02-11 05:24] rahul-malik commented on #234
We're using XCodeGen as a framework so this doesn't benefit us but just wanted to support this since we're thinking of having precompiled binaries for all our dependencies so it's easy to upgrade team members by avoiding compilation on everyones machine.

[2018-02-11 16:25] olbrichj opened #240 "Setting MACOSX_DEPLOYMENT_TARGET to 10.10 results in 10.1"
It seems like setting MACOSX_DEPLOYMENT_TARGET to 10.10 is parsed at 10.1. On the other hand 10.11 works fine.

#Expected Result
Setting MACOSX_DEPLOYMENT_TARGET to 10.10, sets the correct deployment target version in the generated Xcode project.

See this issue for context:
https://github.com/xcodeswift/xcproj/issues/228

[2018-02-12 13:09] yonaskolb commented on #240
This is due to a plain value of `10.10` is parsed as a double which is then written as a string `10.1`.
To get this to work you must specify a string `"10.10"`

[2018-02-12 13:10] #240 closed

[2018-02-12 21:40] yonaskolb commented on #240
I've updated the `deploymentTarget` docs to show string examples so this issue is minimised https://github.com/yonaskolb/XcodeGen/commit/3ee14fd0bf640c628b2bd47c9fddd977d4849e22

[2018-02-13 09:00] olbrichj commented on #240
thanks!

[2018-02-17 03:32] toshi0383 commented on #234
I guess this would help resolving the issue?
https://github.com/yonaskolb/Mint/pull/52

We can put this in Makefile as part of release process,
[code]
then in your project you can install like this.
[code]
Giving the `$PREFIX` results the binary installed at `$PWD/mint/XcodeGen/bin/xcodegen`.

[2018-02-17 03:32] toshi0383 commented on #234
@yonaskolb
In my experience, [GitHub release API is not straight forward to use](https://github.com/fastlane/fastlane/issues/575#issuecomment-139307075), so I would just upload the generated zip file manually to the release page.
It was a while ago, so you can of-course try.😉

[2018-02-17 03:43] keith commented on #234
I think ideally we would include the settings presents files as strings in the code, so a standalone binary would be feasible. We’re actually using a standalone binary we build currently and just exclude those files since we don’t use them.

[2018-02-17 04:06] toshi0383 commented on #234
@keith

In which code you talking about?👀

If I understood you correctly, would that be `.mint.yml` or something like that?
https://github.com/yonaskolb/Mint/issues/2

[2018-02-17 05:24] keith commented on #234
No I just mean that ideally XcodeGen could be entirely standalone without any supporting yams files. Those could be strings in the code

[2018-02-17 06:48] toshi0383 commented on #234
Ah I see. So ideally we don’t need project.yml, xcconfigs, and all that kind of configuration files.🤔

[2018-02-20 13:39] libe opened #242 "Framework public headers folder structure"
Hello,

first of all thanks for this great tool, digging it a lot so far!

I need to have a defined folder structure in the Public Headers section of my framework but so far I am struggling to obtain this through XcodeGen.

Basically if I declare a folder like:
      - path: MyProject/ProtectedInterfaces/Foo
        buildPhase: headers
        type: folder

I would expect to have the folder Foo co

[2018-02-21 22:28] ralfebert opened #243 "xcdatamodeld support"
When a project with a Core Data model (.xcdatamodeld) is generated, the file is added as a resource and the data model is not editable in Xcode.
I generated an example project via File - new Single View Application project - with option 'use Core Data'.
I then re-generated the project via xcodegen, and fixed the project by removing and adding the data model manually. This is the resoluting change:

[2018-02-24 23:41] yonaskolb commented on #234
@toshi0383, @keith means the setting preset yaml files here: https://github.com/yonaskolb/XcodeGen/tree/master/SettingPresets

There is a usefulness to keeping them as external files:
- if they are copied to the project root they can be modified by a project (even just piecemeal files will override the official ones)
- they are optional, so don't need to specifically live in binary
- are more easi

[2018-02-25 00:17] yonaskolb commented on #242
Hi @libe
Glad you're digging it.

I'll assume that the yaml snippet you posted has correct indentation in your actual spec, so that the `buildPhase` and `type` properties are properly matched to your path declaration?
[code]

Otherwise I've created PR #245 that may fix your issue. Are you able to test that out, by checking out the branch and running:
[code]

[2018-02-25 01:00] yonaskolb commented on #243
Yep good catch, this should be possible. An easy change will be changing the default build phase to source instead of resource. I’ll look into whether the version group is necessary, but we can do that too

[2018-02-25 06:23] toshi0383 commented on #234
By the way today I started to use XcodeGen on CI and XcodeGen's install takes more than 2 minutes on Bitrise. I want to make it less than 10 seconds by resolving this issue. 👍

[2018-02-25 06:30] toshi0383 commented on #234
Just recognized that then I would have to install `mint` to use `Package.resources`, so it might not resolve installing time..🙄
I guess we need to use standalone install script like this for CI.
https://github.com/toshi0383/scripts/tree/master/swiftpm

[2018-02-25 08:45] toshi0383 commented on #234
I've submitted a PR to resolve this issue. https://github.com/yonaskolb/XcodeGen/pull/246
For now we have `SettingPresets`, so embedded `install.sh` is the solution.👌

I'm already doing this on Bitrise using my fork.
https://github.com/toshi0383/XcodeGen/releases/tag/1.6.1

[2018-02-25 10:49] yonaskolb commented on #234
As a note, I used Mint on a project to run xcodegen on Bitrise as well this week. I just added `/usr/local/lib/mint‘ to the cache pull and cache push steps 👍

[2018-02-25 12:28] thecb4 opened #247 "Platform settings not applied"
New to XcodeGen and trying to create a universal framework as a test. However, the below project.yml does not apply the correct base SDK or deployment targets by platform. Not sure what I'm missing.

[code]

[2018-02-25 12:57] toshi0383 commented on #247
@thecb4
You have unnecessary `"` there. So maybe that's the problem?
I tried it locally and it seems to working fine.

[2018-02-25 13:13] thecb4 commented on #247
the watchOS item is commented out in the above example.

When I uncomment and fix the watchOS ", the base SDK still shows as macOS for the iOS target.

[2018-02-25 22:23] yonaskolb commented on #247
Hi @thecb4
What installation method did you use? Is it possible that the `SettingsPresets` directory isn't being found? What is the output in the terminal, perhaps there are some warnings to that effect?

Also just a note, your `targets.GenKit.scheme` seems to be in the wrong format. You're using properties from https://github.com/yonaskolb/XcodeGen/blob/master/Docs/ProjectSpec.md#scheme instead o

[2018-02-25 23:01] thecb4 commented on #247
I installed via Homebrew. I am getting the following error when I run

[code]

for each $platform. I figured it was because I wasn't using xcconfig files

[2018-02-26 01:09] yonaskolb commented on #247
Strange, the latest brew install is working for me (and many others I assume)
Can you run the following commands
[code]

[2018-02-26 01:25] thecb4 commented on #247
/usr/local/bin/xcodegen
1.6.0
ls: /usr/local/share/xcodegen/SettingPresets: No such file or directory

may have found the culprit

[2018-02-26 01:51] yonaskolb commented on #247
Oh, I just did some testing on this and it's highlighted a issue in the Mint installation. Xcodegen isn't reading the platform settings from the right place.
I'm actually really surprised this wasn't picked up before. Personally I had some shared files lying around from a homebrew installation. This could possibly be a change in High Sierra in how symlinks are read.
@toshi0383 your issue here rela

[2018-02-26 01:54] thecb4 commented on #247
awesome. I'll be on the lookout for the fix.

[2018-02-26 01:58] yonaskolb commented on #247
Fixed in #248 and will be in the next release. For a temporary fix copy `SettingPresets` to `/usr/local/share/xcodegen/SettingPresets`

[2018-02-26 01:58] #247 closed

[2018-02-26 02:09] thecb4 commented on #247
work around works perfectly. Thanks!

[2018-02-26 06:10] #242 closed

[2018-02-26 06:16] yonaskolb commented on #243
Fixed with #249. It'll be in the next release 👍

[2018-02-26 07:29] #243 closed

[2018-02-26 07:32] yonaskolb commented on #235
Done here #250

[2018-02-26 08:06] #235 closed

[2018-02-26 20:54] yonaskolb commented on #214
This could have a fixit mode that automatically applied suggestions

[2018-02-26 20:55] yonaskolb commented on #9
At the moment no. It’s a huge piece of work to do this properly, especially without duplicating everything (having a path to every file in your project for example)
It would require #123 and maybe #214 to be completed first

[2018-02-26 20:58] yonaskolb commented on #124
@rasterize how is your target linked? As in what sort of settings does Xcode apply?

[2018-02-26 21:45] yonaskolb opened #251 "Replace Make file with Beak file"
https://github.com/yonaskolb/Beak

[2018-02-27 01:21] #234 closed

[2018-02-27 02:03] toshi0383 commented on #234
🎉

[2018-02-27 07:15] ladislas commented on #9
thanks! :)

do you have a roadmap of things to be worked on and how to tackle them for people willing to give a hand?

[2018-02-27 07:39] yonaskolb commented on #9
There's no real roadmap documented. All the issues are far game. If you want to work on any just mention it in the issue 👍

[2018-02-27 08:34] toshi0383 commented on #9
FYI, if you extract the "Build Settings" into xcconfigs, migration is a lot easier.
I use my own tool and it works in most cases.
https://github.com/toshi0383/xcconfig-extractor

[2018-02-27 15:14] toshi0383 opened #253 "Spec decoder's type inference issue"
Currently this `environmentVariables ` part fails to parse quietly and XcodeGen is not writing it to xcscheme. I debugged a bit, and the value `YES` is mistakenly treated as bool.
[code]

The document demands `environmentVariables` to be `[String: String]`, so the decoder should accept `YES` or `1` as string, too.

[2018-03-01 13:11] #236 closed

[2018-03-01 23:23] iamtomcat opened #260 "Recursive path issues"
When I move to the parent directory and then try and use other folder outside of the current directory, everything is picked up fine, however all the folders are not included inside of the named directory or the last folder.

I'm getting around this by using a symlink to pull the folders in correctly.

Should also note this happens when using a full path as well.

Using a symlink:
<img width="272"

[2018-03-01 23:28] yonaskolb commented on #260
Hi @iamtomcat
Do you have an example spec, showing how you use source paths.
Are you using `fileGroups` or `options. createIntermediateGroups`?

[2018-03-01 23:46] iamtomcat commented on #260
Here is my spec. No I'm not using filegroups. Maybe that is what I'm missing in this case?
[code]

[2018-03-02 00:18] iamtomcat commented on #260
Also is it possible to glob files together under one group?

[2018-03-02 05:45] #253 closed

[2018-03-05 18:18] iamtomcat commented on #260
@yonaskolb This might be related to this issue. I found that if a folder doesn't have any files in it then any folder inside of it gets pulled out into it's own group instead of being included.

[2018-03-08 16:18] LinusU commented on #196
This would be amazing 😍

There is currently a way to use SPM to handle dependencies for iOS app. Basically you set up a subproject that builds all the deps, and then embed that project in the main project. Here is a tutorial: http://www.ralfebert.de/ios-examples/xcode/ios-dependency-management-with-swift-package-manager/

It would be amazing if this project could use `Package.swift` as the source

[2018-03-08 16:45] LinusU opened #262 "Documenting how to set "development team""
**Question/Feature request:**

Is it possible to set the "development team" used for code signing from the `project.yml` file?

**Background:**

I'm trying to set up a test iOS app where I will not use Xcode at all to develop. My idea is to have something like this:

[code]

Now I'm stuck on:

[code]

[2018-03-08 16:53] LinusU commented on #262
Turns out that this was super easy, I figured it out after manually diffing the xcodeproj file after setting the development team.

The trick is:

[code]

-----

Would it be possible to add this to the readme? or maybe we could create an FAQ?

For reference, I tried searching for "team" and "sign" in the issues and this document: https://github.com/yonaskolb/XcodeGen/blob/master/Docs/ProjectSpec.m

[2018-03-09 12:48] LinusU commented on #196
The swift package manager is able to generate an Xcode project that builds `.framework` files from each dependency. It seems to add all of the source files in a "Dependencies" group ([relevant code](https://github.com/apple/swift-package-manager/blob/922d2f9b46a30f605b3bb6bf4a6ca9cce0fc30c9/Sources/Xcodeproj/pbxproj().swift#L327-L359)), and then create products for each framework ([relevant code](

[2018-03-10 17:50] thecb4 opened #265 "macOS Unit Test settings variant not present in Unit Tests"
version: 1.7.0

Creating Unit Test target applies the same Search Paths across all targets. However, MacOS requires a different path to load XCTest Properly.

XcodeGen Preset:
BUNDLE_LOADER: $(TEST_HOST)
LD_RUNPATH_SEARCH_PATHS: "$(inherited) @executable_path/Frameworks @loader_path/Frameworks"

Running macOS Test Target produces the following Error:
[code]

macOS requires:
BUNDLE_LOADER: $(TEST_H

[2018-03-12 18:53] LinusU commented on #215
I would love to have XcodeGen generate shared schemes so that I can use it together with libraries installable via Carthage.

My plan is to have the `project.yml` file committed, and then have a release process which would generate the Xcode config, commit it to a separate branch and tag the release. That way I would get all the benefits of not having Xcode-projects checked in, but it would still

[2018-03-13 13:33] LinusU commented on #215
If anyone else is interested in this, here is the `project.yml` that I'm currently using: https://github.com/LinusU/BioPass/blob/acab045b72041dee3289830a6215f7ac9be8a479/project.yml

[2018-03-13 15:00] LinusU opened #266 "Recursive Carthage dependencies"
I'm not 100% if this is within the scope of this project, but currently, when adding Carthage dependencies you also have to manually add any Carthage dependencies that they may in their turn depend on.

E.g. I might have an iOS application that depends on [BioPass](https://github.com/LinusU/BioPass). I add `github "LinusU/BioPass" ~> 1.1.1` to my `Cartfile`, and `- carthage: BioPass` to the depend

[2018-03-15 05:12] toshi0383 commented on #262
`DEVELOPMENT_TEAM` isn't special in project's spec context, but maybe it worth having such documentation for beginners.
Maybe not readme or `ProjectSpec.md`, but in different page such as `Docs/GettingStarted.md` or `Docs/FAQ.md`.
@LinusU PullRequest is welcomed👍

By the way, you can define `DEVELOPMENT_TEAM` in multiple way. You might want to document these too.
- by defining in xcconfig file
- b

[2018-03-15 11:22] LinusU commented on #262
Yeah, exactly my thoughts 👍

Opening a PR shortly...

[2018-03-16 10:12] Lutzifer commented on #265
thx, I had the same issues and your settings fixed them

[2018-03-19 13:24] LinusU opened #268 "Can't target macOS 10.10, becomes 10.1"
I have the following deployment targets in my `project.yml`, notice that I _have_ quoted the version in order for yaml to interpret it as a string instead of float.

[code]

Still, the generated Xcode Project has `MACOSX_DEPLOYMENT_TARGET = 10.1;` 🤔

[2018-03-20 21:18] rastersize commented on #124
@yonaskolb Sorry for late reply.

My targets aren’t linked. I depend on a pre-build target that executes a few scripts. For example it updates the app’s `Info.plist` with the current version and build number.

Currently we have the main “App” Xcode project include the Pre-build project. The App project’s main target then has a dependency on the target in the Pre-build project.

We need to do that

[2018-03-21 12:47] LinusU commented on #8
I'm currently having problems when adding new files when working. My Makefile cannot (currently) pick up new files being added, and thus doesn't trigger a new generation of the Xcode project.

I would love it if XcodeGen would be able to detect new files in the source directories, and then just regenerate the project automatically 😍

[2018-03-22 08:43] libe opened #271 "Dependencies: dynamic library linkage"
Hello,

I am having troubles trying to link a dynamic library with the following spec

[code]

When I inspect the Xcode project generated I can see that the library appears in the Link Frameworks section but the at link time I get the error -lcurl not found.

Is linking dynamic libraries supported? From the docs it is not explicitly mentioned it seems.

Thanks again for this great tool!

Libe

[2018-03-24 22:35] yonaskolb commented on #268
Hi @LinusU
This is an issue in the YAML parser we use. I've opened an issue here https://github.com/jpsim/Yams/issues/116

As a workaround for now, you can force the value to be a string like this:
[code]

[2018-03-26 13:01] yonaskolb commented on #240
Looks like this issue is back in a newer version of Yams. New issue here  #268

[2018-03-26 13:51] toshi0383 commented on #266
I thought XcodeGen shouldn't know about `Cartfile.resolved`, but it already knows about internal behavior like where `carthage` frameworks are built (`Carthage/Build/$platform`) and so on, so I guess this can be within the scope of XcodeGen. 🤔

Thoughts, @yonaskolb ?

[2018-03-26 13:54] toshi0383 commented on #266
Oh I realized that it's impossible because we cannot determine which frameworks to go into which target.🙄

[2018-03-26 14:05] AliSoftware opened #273 "Create interactive specs"
One use case I would have for XcodeGen would be to generate brand new projects when starting a new contract.

_(For now we use [liftoff](https://github.com/liftoffcli/liftoff) for that but as it's not maintained anymore, we want to migrate to something else like XcodeGen)_

The idea would be to create a `project.yml` with a magic syntax for values which, when encountered, would (1) interactively a

[2018-03-26 14:15] toshi0383 commented on #124
@rastersize

For Info.plists, how about using preprocessed Info.plist? You can modify Info.plist safely in Build Phase before or after compiling.
You can access preprocessed Info.plist at `$TEMP_DIR/Preprocessed-Info.plist`.

[2018-03-27 02:24] yonaskolb opened #275 "Set target attributes"
Add a new `attributes` property on Target that would enable setting custom properties within a project's `TargetAttributes`.
Whatever is defined here would be merged with items that are automatically added here (for example `TestTargetID`)

[2018-03-27 03:38] #275 closed

[2018-03-27 03:45] yonaskolb commented on #265
Thanks for raising this @thecb4. It seems providing `LD_RUNPATH_SEARCH_PATHS` in the setting preset files isn't scalable anymore based on all the combinations. We should move the default values of this build setting to code, where we can apply some global rules based on target type and platform

[2018-03-27 03:46] #262 closed

[2018-03-27 10:30] LinusU commented on #262
(closed by #267)

[2018-03-28 07:58] abeintopalo opened #278 "Option to create groups for empty directories"
Hi,

First, thank you for this great tool. It is really awesome. :)

I'm trying to use this tool to generate a template Xcode project that has already a group structure setup regardless if the source directories contain source files or not.

Currently it seems that XcodeGen ignores directories that don't contain any source file.

Is there any way (option) to instruct XcodeGen to mirror the source

[2018-03-28 11:22] AliSoftware commented on #273
Now that I think about it, I'm not sure if that idea would be self-sufficient.

When we create a new project, both the Xcodeproj (generated by XcodeGen) but also the project *files* (swift code, copyright header comments, XIBs, Storyboards, …), must be "templatized" and adapted too. And I'm guessing that part isn't XcodeGen's job…

I'm curious to know what people use for such needs, as a solution

[2018-03-28 11:40] yonaskolb commented on #278
Hi @abeintopalo
At the moment no there isn't a way to tell XcodeGen to change this behaviour. It could potentially be added as an option though

[2018-03-28 12:09] yonaskolb commented on #273
Yeah scaffolding/templating is probably outside the scope of XcodeGen. Generating a project spec from an existing project, or interactively from scratch is on the cards though.

Some other tools I know of in this space though are:
https://github.com/audreyr/cookiecutter
https://github.com/workshop/cook
https://github.com/JohnSundell/SwiftPlate

Cookiecutter is probably your best bet

I think there

[2018-03-28 15:31] Lutzifer commented on #192
I had to add

[code]

in a similar case.

[2018-03-28 19:19] jcampbell05 commented on #273
I started a basic tool for this. It essentially just consumed the XCTemplate file and hooked into a tool such as Xcake, Struct or XcodeGen to spit out the files.

This was a very early alpha of it https://github.com/workshop/cook its in ruby sadly. I've tried to re-start it in swift since but not got quite so far.

[2018-03-29 12:32] abeintopalo opened #279 "preActions for Target Schemes (suggestion)"
Currently it seems it is not possible to define `preActions` for target schemes.
Consider the following target scheme:

[code]
it would be nice to have the ability to specify an (optional) common `preActions` element that is embedded for each generated scheme.

[2018-03-29 13:32] yonaskolb commented on #279
Yeah, adding pre and post actions to target scheme will be easy. They will be common to all build types though, if that suits your needs.
I'm sure you're aware of the more configurable top level schemes that you can add pre and post actions per build type to.
https://github.com/yonaskolb/XcodeGen/blob/master/Docs/ProjectSpec.md#scheme

[2018-03-29 13:50] abeintopalo commented on #279
Yeah, I've checked top level schemes but using that I would have to explicitly define each scheme variant per configuration if I understood correctly.

[2018-03-29 15:11] yonaskolb commented on #279
That's right. I've created a PR for this here https://github.com/yonaskolb/XcodeGen/pull/280

[2018-03-29 16:39] abeintopalo commented on #279
Wow, that was fast. Thank you so much! :)

[2018-03-30 08:45] yonaskolb commented on #253
This is fixed in yet another way via #282, as quoted values are now parsed as strings

[2018-03-30 22:06] #268 closed

[2018-03-31 22:45] yonaskolb commented on #273
I’ve got some ideas about a tool like this... Watch this space

[2018-04-03 01:34] toshi0383 commented on #215
Xcode does not generate shared schemes automatically, so I think we should stick with that behavior.
Which schemes to generate is up to each member of the project, so I would add `--shared-targets` option. (as mentioned in #57 )
`xcodegen --shared-targets "App AppTests Lib LibTests"`
This would generate additional xcscheme if ones are not specified in `project.yml`.
This way one can generate missi

[2018-04-03 10:21] yonaskolb commented on #215
@LinusU The spec you linked to has a `scheme: {}` so will generate a shared scheme for your purposes.

@toshi0383 making it configurable via the command line is an interesting option, but I don't see any cases where you'd only sometimes want that, so it seems it's better to define it in the `project.yml`

[2018-04-03 10:21] yonaskolb commented on #215
Perhaps an option called `generateDefaultSchemes`?

[2018-04-03 10:31] yonaskolb commented on #271
Hi Libe
Does the solution posted in #192 solve your issue, by adding the dependency to `FRAMEWORK_SEARCH_PATHS`?

[2018-04-03 17:09] tkrajacic opened #283 "Homebrew installation fails"
When trying to install with Homebrew, I get the following error

[code]

[2018-04-04 06:03] tkrajacic commented on #283
Same as #51  it seems.

[2018-04-04 09:02] yonaskolb commented on #283
Which version of Xcode and macOS are you using?

[2018-04-04 09:07] tkrajacic commented on #283
Oh sorry for forgetting: latest everything

10.12.4, Xcode 9.3, Apple Swift version 4.1 (swiftlang-902.0.48 clang-902.0.37.1)

[2018-04-04 09:14] yonaskolb commented on #283
Hmm, I thought Xcode 9.3 required High Sierra (10.13)

[2018-04-04 09:17] yonaskolb commented on #283
And one of the paths above mentions 10.13
[code]

[2018-04-04 09:18] tkrajacic commented on #283
Ah sorry. Typed too fast. Yes "latest all" meant of course 10.13.4

[2018-04-04 10:50] tkrajacic commented on #283
That works (Although you really shouldn't install stuff after doing `make` that's horrible. Use `make install` for that please)
`brew doctor` doesn't have any problems (aside from some unlinked kegs).

I tried on two different Macs. On both the homebrew install fails.

I can see though that you are using `swift build` with the make command, but the formula uses `xcodebuild` right? Could that be a

[2018-04-04 10:55] yonaskolb commented on #283
brew is just running `make install` with a different `PREFIX` env

[2018-04-04 12:07] libe commented on #271
Hello,

I managed to solve the issue by using the `OTHER_LDFLAGS` and `LIBRARY_SEARCH_PATHS` variables to link with the shared libraries. I don't know if `FRAMEWORK_SEARCH_PATHS` can get the job done in the same way (I only have a precompiled .a library).

[2018-04-05 05:55] vhbit commented on #283
Same problem here. On dev machine `brew upgrade xcodegen` worked fine, but on Jenkins worker it fails :( And installation from source works fine.

[2018-04-05 06:14] vhbit commented on #283
a couple of thoughts:
1. the difference between dev and jenkins is that on dev machine I've upgraded `xcodegen` almost immediately after `1.8.0` release, which happened while Xcode 9.2 + CLT 9.2 were installed. On jenkins it fails with Xcode 9.3 + CLT 9.3. Now if I try to do the same thing on dev machine `brew reinstall xcodegen --verbose` I get the same error => it might be not quite `brew` probl

[2018-04-05 06:33] vhbit commented on #283
ok, I guess I've nailed it down to this (Xcode 9.3 + CLT 9.3):
[code]
this will perform all tasks with `brew` environment
now if you run `make build` it'll fail with message above.

Inspecting `env` I've found that there is
`export HOMEBREW_ISYSTEM_PATHS=/usr/local/include:/usr/include/libxml2:/System/Library/Frameworks/OpenGL.framework/Versions/Current/Headers`
so if I remove `/usr/include/libxml

[2018-04-05 08:24] Lutzifer opened #285 "Inherit from other target"
Is it currently possible to inherit from another target?

Use case:

- MainTarget (with settings, script phases, source folders)
- DebugTarget (MainTarget with an additional source folder)

As Additional Source Folders cannot be solved using configurations (or at least not in a good way that I know of) this would be one additional benefit of using xcodegen.

[2018-04-05 08:27] Lutzifer commented on #273
can we add support for env files to the project.yml?

then we could call it like

`name=FOO code_signing_identity=BAR xcodegen`

[2018-04-05 10:26] yonaskolb commented on #285
You can't directly inherit from a target, but you can achieve something similar in 2 different ways:

**Yaml references**
You can use native yaml anchors and references to refer to the inherited target and then just add some overrides. These page can help with yaml documentation if you need https://learnxinyminutes.com/docs/yaml/

**File includes**
XcodeGen has a feature for including other spec f

[2018-04-05 11:29] abeintopalo opened #286 "Dependency to legacy target"
Just playing around with dependencies and noticed when a target has a dependency to a `legacy` target then XcodeGen adds the legacy target into the _Copy Bundle Resources_ build phase resulting in build error.

Consider the following snippet:
[code]

without explicit `embed: false` as seen above _Legacy_ target is added into the _Copy Bundle Resources_ build phase of _MyTarget_

Maybe embed value

[2018-04-05 11:50] Lutzifer commented on #285
thx, will have a look into this

[2018-04-05 12:53] Lutzifer commented on #285
For the record, referencing it with $main and *main works:

[code]

Haven't yet figured out how to do the same for the source folder to avoid the duplication

[2018-04-05 13:01] Lutzifer opened #287 "BuildPhase "none" not possible for folders"
Adding a folder without copying it (so having no Target Membership) does not work:

[code]

setting buildPhase to headers seems to have the effect, but it seems wrong 😉

[2018-04-05 21:31] yonaskolb commented on #285
Cool.
Would having something like `templateTargets` that you can inherit from be useful?

[2018-04-05 22:41] yonaskolb commented on #287
Thanks for raising this @Lutzifer. Fixed in #288.
Is `resources` still a good default for folders I wonder.

What's the motivation for adding the Carthage checkouts as a folder? They get added within `Frameworks/Carthage` automatically if you use any of them as a dependency

[2018-04-06 08:18] Lutzifer commented on #287
Thanks for the fix.

One of our engineers recently discovered (based loosely on https://github.com/Carthage/Carthage/issues/2137) that adding the checkout folder this way improves Xcode's debugging abilities when it comes to the Carthage Frameworks.

[2018-04-06 08:19] Lutzifer commented on #285
@yonaskolb definitely useful and easier to read

[2018-04-06 13:59] #287 closed

[2018-04-08 11:00] yonaskolb commented on #273
Ok guys, I've written a new tool called [Genesis](https://github.com/yonaskolb/Genesis) for templating.

Taking the exact @AliSoftware example originally posted, it would look like this in the most simplest form in Genesis.

template.yml
[code]
project.yml:
[code]

You could then generate this using
[code]
It looks for options via various methods (env, file, arguments) and asks you interactively i

[2018-04-08 11:07] AliSoftware commented on #273
Cool!

iiuc we can list as many files as we want in the `files` entry and those files should actually be stencil templates that gets rendered using the barracks previously defined as context?

[2018-04-08 11:12] yonaskolb commented on #273
Yep!
Those files can also have dynamic paths, and even be rendered out multiple times with different child contexts if it reference an array via `context`.

[2018-04-08 11:16] yonaskolb commented on #273
You could even make an XcodeGen project spec be the data for a template with `--option-path` and then dynamically generate the folder structure from that by reading from it as a context, and then providing templated Info.plist files and things

[2018-04-10 08:20] Lutzifer opened #290 "Adding Folder Reference with only subfolders fails"
Structure:

[code]

Cannot be added using

[code]

but needs to be added using

[code]

[2018-04-10 09:50] yonaskolb commented on #283
Thanks for digging into it and the PR @vhbit!

Do you know why it only happens for some people?
For example my `HOMEBREW_ISYSTEM_PATHS` doesn't have `libxml2` in it
[code]

I also brew 1.6.0 was just released. Can anyone confirm that this issues is still present for them with that version?

[2018-04-10 10:24] yonaskolb commented on #290
@Lutzifer What do you mean exactly by "can't be added"?
I've added the same setup to the test project fixture here and seems fine.
https://github.com/yonaskolb/XcodeGen/commit/11bf00da2b1167adbf9679a997e9025177bae313

[2018-04-10 10:43] Lutzifer commented on #290
@yonaskolb See the attached setup for clarification
[Archive.zip](https://github.com/yonaskolb/XcodeGen/files/1894228/Archive.zip)

[2018-04-10 10:53] ilovezfs commented on #283
You probably need to set SDKROOT.

[2018-04-10 10:54] vhbit commented on #283
@yonaskolb

ok, it starts to be more and more complicated :-)
I've upgraded to brew 1.6.0
now if I do `brew sh` and `env` - there is no `libxml2` in `HOMEBREW_ISYSTEM_PATHS` but it still fails to reinstall (with the same error as before) unless patch to formula applied.

And your code sample might shed a bit of light to the issue: you have includes for Apache2.
Now if we look at the following code

[2018-04-10 10:55] ilovezfs commented on #283
[code]

[2018-04-10 11:45] yonaskolb commented on #290
Fixed in https://github.com/yonaskolb/XcodeGen/pull/291

[2018-04-10 12:25] vhbit commented on #283
@yonaskolb

what I said is that if I do `brew sh` and `env` (i.e. printing whole environment) there is no `libxml2` in the output.

but if I print environment in runtime, right before running `make` - `/usr/lib/libxml2` is in `HOMEBREW_ISYSTEM_PATHS` => seems environment is updated somewhere later and therefore #289 works.

@ilovezfs

should it be set in `install`? In this case it doesn't work

an

[2018-04-10 12:51] yonaskolb commented on #283
Actually looking at that code, does it only add libxml2 if it isn't listed as a dependency? (or is it the other way around, my ruby foo isn't strong) If so, is that the solution, to just list `libxml2` as a dependency?

[2018-04-10 13:25] radimhalfar opened #292 "Specify the structure not only alphabetically but also using priorities for folders / files"
If the project is named starting letter `P` the project is always generated as below. The Product reference folder is placed on top of the file structure. Is there any option to mark the folders with priority of order ? Also If I do have README.md file in the project it is sometimes placed to the top sometimes not. Is it possible to place it always on the top?
[code]

`project.yml`
[code]

It is p

[2018-04-11 10:12] vhbit commented on #283
listing `libxml2` as dependency works, but `libxml2` depends on `python@2` and it has even more dependencies which might pull even more, so I wouldn't call that an "easy-to-go option".

[2018-04-11 13:11] #290 closed

[2018-04-12 11:18] pvinis opened #294 "link a product of another xcproj?"
i have a project and i want to link a `.a` that is the product of another xcproj. how can i do that?

so my proj is `MyProj` and a target `MyApp`. there is another one called `SomeLib` with a target `Lib` and a product `lib.a`. i want to link `lib.a` to `MyApp`.

[2018-04-12 11:26] rahul-malik commented on #294
I believe you can use the implicit dependencies feature to achieve this.

From the project spec docs -

Implicit Framework options:

This only applies to framework dependencies. Implicit framework dependencies are useful in Xcode Workspaces which have multiple .xcodeproj that are not embedded within each other yet have a dependency on a framework built in an adjacent .xcodeproj. By having Find Imp

[2018-04-12 11:30] pvinis commented on #294
the problem is that my project is a project, not a workspace that contains these extra projects.

[2018-04-13 10:02] abeintopalo opened #295 "Group without folder"
Is there a way to add files to a group without folder like e.g. the _Products_ group?
I'd like to add my _Cartfile_ to a group hierarchy like this:

[code]

In this case the group hierarchy wouldn't reflect an actual directory hierarchy. The _Cartfile_ could be e.g. in the project's root directory as usually is but in the generated Xcode project it would be placed neatly in the group hierarchy abo

[2018-04-13 18:04] jalopezcar commented on #51
I'm getting the same error with 1.9.0 version

[code]

It doesn't happen with v1.8.0

[code]

It seems also that the tag version 1.9.0 point actually to v1.8.0

[2018-04-14 05:34] vhbit commented on #51
@jalopezcar please provide output of `brew install xcodegen --verbose`, Xcode version and if you have CLT (command line tools) installed.

[2018-04-14 07:30] yonaskolb commented on #51
@jalopezcar can you see if the formula on master fixes your issue?

[2018-04-17 04:40] jalopezcar commented on #51
I still get the same error

[code]

[2018-04-17 06:08] vhbit commented on #51
@jalopezcar ok, that's a different issue. You use Xcode 9.2 while `xcodegen` 1.9.0 is now Swift 4.1
I guess that can be mitigated by providing a shim for `compactMap` on earlier Swift versions, similar to https://github.com/Carthage/Carthage/blob/master/Source/CarthageKit/SwiftShims.swift

[2018-04-17 06:27] vhbit commented on #51
@yonaskolb maybe it's time to use bottles instead of building? I can see that `mint` is delivered through `brew` official repo and gets bottles support right away, any particular reason why `xcodegen` doesn't follow that path?

[2018-04-17 10:06] yonaskolb commented on #51
@vhbit There’s no reason that we don’t have an official formula yet. Back when xcodegen started it wasn’t allowed for maintainers to submit the formula to homebrew. I don’t believe that’s the case anymore, but I just haven’t gotten around to it. Obviously I use Mint 😉
If you’d like to submit the formula that would be great!

[2018-04-18 10:49] vhbit commented on #51
@yonaskolb

I don't think they'll like workarounds I've put there 😄 but I'll try soon.

[2018-04-23 14:05] Lutzifer opened #301 "Add Templates to documentation"
We could improve onboarding of new users by providing some simple template projects as blueprints,
e.g. https://github.com/num42/RxUserDefaults/blob/master/project.yml for a carthage compatible iOS/tvOS framework project with tests. (It took me some time to set this up, so a collection of blueprints might actually save some time).

[2018-04-24 00:54] toshi0383 commented on #301
Good idea.
Maybe we can add links to those examples in the wild, too. 👌
I've got mine here.
https://github.com/toshi0383/Bitrise-iOS/blob/master/project.yml

[2018-04-24 07:52] Lutzifer commented on #301
Might be a good addition to the readme.

[2018-04-24 09:04] yonaskolb commented on #301
Yeah would be cool. I’ve been wanting to add a bunch of use cases with example templates (cross platform targets, Carthage Dependencies, includes, configurations... etc), maybe to the FAQ page

[2018-04-24 10:53] pvinis commented on #301
ill add mine to sometime when i have a working react native setup with xcodegen. that would be my dream :D

[2018-04-24 10:57] Lutzifer commented on #301
We might be able to contribute some more complex examples, as @yonaskolb already has come to know of due to some of my edge-case issues 😅

[2018-04-26 19:00] dflems opened #304 "1.8.0 & 1.9.0 release builds crash on Sierra"
Crash report: https://gist.github.com/dflems/23b307b2ccd8365a6f628ee1420b7b30

I was able to get it running by recompiling 1.8.0 on a machine running Sierra & Xcode 9.2. It appears the github release builds for 1.8.0 and 1.9.0 were built with Xcode 9.3 on High Sierra and that something, somewhere in the build process is creating an instruction that is invalid on Sierra.

[2018-04-26 19:52] keith commented on #304
This is a crash in the yaml parser, can you post the contents of your yaml file?

[2018-05-02 17:12] atreat commented on #273
I was looking for a way to use Environment variables in my project.yml file for project configuration. Looking into Genesis and it looks promising!

[2018-05-08 21:31] agurodriguez commented on #51
Hello guys! I'm facing the same problem :(

Tried with `mint`, `brew` and also building from sources.

This is my `mint` output:

[code]

[2018-05-09 00:53] yonaskolb commented on #51
@agurodriguez your error looks like you’re not compiling with Xcode 9.3, as it’s complaining about Swift 4.1’s compactMap not being found

[2018-05-09 03:41] agurodriguez commented on #51
You're totally right. Updated Xcode to 9.3 and the problem went away.

Thank you!

[2018-05-09 17:29] atreat commented on #247
Is this fix in XcodeGen, Mint, or both?

I still run into it with the following:
[code]

I can use the work around above
[code]

but I'm trying to get this working in a CI environment and the install path for xcodegen may not work for me.

[2018-05-10 13:11] fabio914 opened #305 "Add support for Build Rules"
Hi, we're thinking of adopting xcodegen in our company, however, we have some projects that have targets that use **Build rules** to match some file types and generate Swift code. I noticed that you support **Build scripts** but those don't really solve for our case, are you planning on adding support for custom **Build rules**?

[2018-05-10 23:47] yonaskolb commented on #305
Hi @fabio914, at the moment there are is no support for build rules.
[xcproj](https://github.com/xcodeswift/xcproj) (what XcodeGen uses to write the project file) has support for them though so shouldn't be very hard to integrate.
I'll look at adding this in the next few days

[2018-05-13 18:01] fabio914 commented on #305
@yonaskolb Yes, it does. Thank you!

[2018-05-14 00:51] yonaskolb commented on #294
How would you of done this in without XcodeGen? I assume just drag the framework in?
In that case you can add a framework dependency
[code]
You then may have to set `OTHER_LDFLAGS` and `LIBRARY_SEARCH_PATHS` as mentioned here:
https://github.com/yonaskolb/XcodeGen/issues/271

[2018-05-15 05:02] yonaskolb commented on #301
I've added an examples page now. Feel free to add any of your own specs there https://github.com/yonaskolb/XcodeGen/blob/master/Docs/Examples.md

I've also filled out the FAQ a little bit and added a Usage doc for more specific documentation. https://github.com/yonaskolb/XcodeGen/blob/master/Docs/Usage.md
These will both be filled out with more information, but have a bit in there to start.

[2018-05-15 05:02] #301 closed

[2018-05-15 05:04] yonaskolb commented on #301
The examples could also possible give a little bit of info about what they include (cross platform targets, uses `includes`, carthage depenendencies ..etc). What do you think?

[2018-05-15 08:16] toshi0383 commented on #301
That would be great.
`fastlane/examples` page is a good reference I guess.
https://github.com/fastlane/examples

[2018-05-18 14:04] thecb4 commented on #265
As a functional workaround when creating universal frameworks. Here's what I've done.

  HyperSpaceUnitTests:
    type: bundle.unit-test
    platformSuffix: -$platform
    platform: [macOS, iOS, tvOS, watchOS]
    settings:
      INFOPLIST_FILE: Tests/Resources/HyperSpace/Core/Info.plist
      LD_RUNPATH_SEARCH_PATHS: "$(inherited) @executable_path/Frameworks @loader_path/Frameworks"
      LD_RUNP

[2018-05-22 09:08] albyok opened #309 "Exclude a .xcodeproj"
I don't know if this is a bug, but seems that I'm not capable of excluding a .xcodeproj from sources setting.

 I tried every way that I could think of, but the file is still there. Even if I exclude a whole folder, all files within that folder are actually excluded, but in the project I get that folder with only the xcodeproj files still there.

[2018-05-22 19:19] m-ruhl opened #310 "Default exclude git merge files"
Hi 👋 ,

Does it makes sense to default exclude all git merge files `*.orig` ?
I'm not sure anymore would use does in a Xcode Project.

I can create a PR, but I wanted to check first 😉

Greets
Michael

[2018-05-24 06:33] yonaskolb commented on #310
Hi @m-ruhl
I agree git merge files shouldn't be added to the project. But are there workflows where you want to keep these around anyway? Wouldn't they get deleted once you've completed your merge?

I see no harm in adding them to the default ignored files however. Feel free to create a PR if it's an issue for you 😄 👍

[2018-05-24 06:39] yonaskolb commented on #309
Interesting. I guess it might be a bug, and to do with `.xcodeproj` actually being a directory and that messing up the ignore logic?
Can you share what you tried as the first attempt? I'm guessing it was something like:
[code]
Is the `.xcodeproj` a direct child of the sources directory, or in a sub directory?

[2018-05-24 07:38] albyok commented on #309
Hi yonaskolb.

I tried this:

excludes:
          - "*.xcodeproj"
          - "Librerie/**"
          - "Librerie/*.[xcodeproj]"

It doesn't affect any xcodeproj. I have some in a direct child and others in a sub dir.

[2018-05-24 10:55] albyok commented on #285
I did something like this:

[code]

And then in targets:

[code]

The problem is that I can't specify more than one path in commonSources. I had to create a "commonSources2". I think it's kind of a bug, because I used the same approach for dependencies and there it worked like a charm with multiple frameworks.

[2018-05-24 17:31] stevemoser opened #312 "Consider renaming project.yml"
[Ceedlings](http://www.throwtheswitch.org/ceedling) uses project.yml files. Consider renaming to a more specific name like xcode-project.yml or xcodegenspec.yml.

[2018-05-24 18:52] keith commented on #312
FWIW you can pass an arguement to your project file so you can name it whatever you want using --spec

[2018-05-25 02:51] yonaskolb commented on #312
Yeah, as @keith says you can use a custom name. Does that solve your issue @stevemoser? If so I'll close this issue

[2018-05-25 22:49] yonaskolb commented on #260
Hi @iamtomcat, I’m reopening this as these are still valid issues. Sorry I haven’t gotten around to them yet, this fell under the radar.
Are you able to post an update about your learnings, and your workarounds?

[2018-05-26 14:50] Alex293 commented on #260
I have the same issue :(

@iamtomcat  I don't have any workaround for now but let me now if I can do anything to help you find out what's going on. I have a starter project but it is in a private repo. I can add you if required

[2018-05-26 20:18] Alex293 commented on #192
I used FRAMEWORK_SEARCH_PATHS: "$(inherited) $(PROJECT_DIR)/<Path-to-dependency>" and it worked. For realm keep in mind that you need to include RealmSwift and Realm.

[2018-05-28 09:37] a5978445 opened #313 "when framework folder isEmpty compile file will lead to framework not found MyFramework"
first show  my `project.yml`:

[code]

then show my folder ：
<img width="440" alt="2018-05-28 5 22 10" src="https://user-images.githubusercontent.com/11722240/40607657-b5a893b2-629b-11e8-97c9-41bb6a6d0bfa.png">
<img width="522" alt="2018-05-28 5 22 16" src="https://user-images.githubusercontent.com/11722240/40607658-b7828774-629b-11e8-90c8-1528b2fabdd3.png">

and  i will run `xcodegen --quiet`

op

[2018-05-28 10:33] yonaskolb commented on #313
This is fixed by #307, and will be in the next release 👍

[2018-05-28 16:53] Alex293 commented on #292
+1 (yeah not really original)

[2018-05-29 02:08] #313 closed

[2018-05-31 01:52] yonaskolb commented on #312
Closing this for now

[2018-05-31 01:52] #312 closed

[2018-05-31 03:13] yonaskolb commented on #292
Yeah at the moment all groups and files are sorted alphabetically.
There could be some special rules for automatically created groups like `Product` and `Frameworks`.
In terms of the other groups they come from various target and project settings, so it's hard to set an orderId somewhere, but it would be possible to have some sort of `sortOrder` option where you could list some paths, and if they

[2018-05-31 08:16] albyok commented on #309
Any news?

[2018-05-31 11:36] Alex293 commented on #292
I didn’t understood the original question but this would be nice ! I was more thinking about sorting source by types. In Xcode if you right click on a folder you can select sort by name or sort by types. Sorting by types also sorts by name but separates folders and files before sorting which is better in my opinion. (Base classes on top of the folder then each implementation in its folder below)

[2018-05-31 12:56] yonaskolb commented on #292
Sorting by types could definitely be an option!

[2018-05-31 16:55] Alex293 commented on #292
Yeah !

[2018-06-01 10:59] yonaskolb commented on #283
Possible homebrew fix here https://github.com/Homebrew/brew/pull/4147

[2018-06-01 13:48] iamtomcat commented on #260
So what I do is kind of double up on a folder.

At the moment it's able to tell what has been included or not with original path and it should glob the rest up. Not the most ideal for being explicit.

[code]

[2018-06-01 14:17] iamtomcat opened #314 "Weakly link a framework"
Is there a way currently to weakly or optionally link a framework?

Was looking around and didn't see it.

[2018-06-01 16:07] Alex293 commented on #260
@yonaskolb I'm trying to move things around to understand what I can do.
Juste to be sure all the paths in project.yml are supposed to be relative to location of :
- project.yml
- where xcodegen is run
- the project argument of xcodegen ?

[2018-06-03 06:55] yonaskolb commented on #309
Hi @albyok
I've added some tests demonstrating the ability to exclude `.xcodeproj` here https://github.com/yonaskolb/XcodeGen/commit/5d611e008af8042823c84884a6e4c60171591489
Note that you should specify this as `*.xcodeproj`

Also note that `**`  is unfortunately not supported so you can't do `**/*.xcodeproj`, so to exclude xcode projects in nested subdirectories you will have to exclude whole dir

[2018-06-03 07:59] yonaskolb commented on #260
All paths in the `project.yml` are designed to be relative to that file.
It looks like there may be issues when the project is not in the same directory as `project.yml`

[2018-06-03 08:11] yonaskolb commented on #314
At the moment no, it's not possible to mark a dependency linkage as optional.
It's something that would be possible to add to a dependency definition though, which would then set the required `WEAK` attribute on the framework build file

[2018-06-03 08:32] yonaskolb commented on #266
Yeah, not sure if we can easily do this

[2018-06-03 12:45] keith commented on #314
You can do this by adding -weak_framework Foo to OTHER_LDFLAGS for the target you want to weakly link Foo

[2018-06-03 12:50] yonaskolb commented on #314
True, that’s a good workaround 👆

[2018-06-04 11:47] iamtomcat commented on #314
@keith Thanks man that's a good workaround.

[2018-06-06 18:36] cjwirth opened #315 "App Extensions failing when building with new build system"
## tl;dr

Copying app extensions in a post-build phase includes the `CodeSignOnCopy` attribute, which creates a cycle when using the new build system. Xcode doesn't add the attribute, so it probably shouldn't be included.

## Problem

Copying the app extension into the main target creates a cycle when using the new build system:

[code]

I have a [sample project](https://github.com/cjwirth/XcodeGe

[2018-06-06 18:38] cjwirth commented on #315
It's definitely possible that I'm just not using the correct settings in the `project.yml` to include the app extension. In which case this was a fun exploration into the `project.pbxproj` file 🤷‍♂️

[2018-06-06 21:57] cjwirth commented on #315
For what it's worth, I also submitted a radar to either add the "Code Sign On Copy" checkbox to app extensions, or ignore the attribute when building with the new build system, since it's able to detect it and hide the checkbox for extensions.

It was marked as a duplicate of 40839160.

[2018-06-06 22:10] rahul-malik commented on #315
Thats a dupe of my radar! I'll let you know if I hear anything back

[2018-06-07 01:12] yonaskolb commented on #315
It looks like `CodeSignOnCopy` defaults to true for all dependencies
https://github.com/yonaskolb/XcodeGen/blob/master/Sources/ProjectSpec/Dependency.swift#L38

A workaround is to set `codeSign` to false for your dependency.

The default for this value should be changed based on what type of target it's referencing. Are you aware of what sort of dependencies should be code signed?

@cjwirth in add

[2018-06-07 11:53] alvarhansen commented on #315
😄 I just spent a day to track down this issue and came here to let others know about it but glad to see others also figured it out.
It seems frameworks are set to be code signed by default but extensions are not.
I think XcodeGen should change the default value, based on dependency targets type.

[2018-06-07 21:08] cjwirth commented on #315
I talked with an engineer today, and he said that since the entire bundle will be code signed at the end, it's probably not necessary to code sign files that are being copied into the bundle (and in this case causing problems). He also said that he wasn't _entirely_ sure about it, but that's what he thought.

[2018-06-11 16:02] Piasy opened #318 "Add sources outside project file's parent folder?"
My project structure:

[code]

I want include `example`, `../src`, `../generated_src/cpp`, `../generated_src/objc` into my project's sources, below is my `project.yml`:

[code]

The problem is, those three groups `src`, `cpp`, and `objc` has wrong path value:

<img width="258" alt="screen shot 2018-06-12 at 00 00 23" src="https://user-images.githubusercontent.com/3098704/41243031-c142e680-6dd3-11e

[2018-06-15 08:15] philippelatulippe opened #319 "Source excludes can't be a string, only a string array"
For the Target Source object, the documentation states that

If I use a string instead of an array, it is ignored. `TargetSource.excludes` will be empty.

Here's an example of a target where the issue occurs:
[code]

The workaround is to use an array:
[code]

[2018-06-15 09:14] vgorloff commented on #47
We mostly using `aggregateTarget` to execute scripts. For instance as global `Prepare` target set as dependency for any other target. Just to avoid setting pre-build scripts in every target.

[2018-06-18 16:11] philippelatulippe opened #320 "SDKROOT is not set for project build configuration"
How can I set the platform of the _project_ (not the target)? When I generate a simple iOS project, xcode seems to use "MacOS Default" instead of "iOS Default" if you look at the Build Settings tab of the Project. This happens because the build variable `SDKROOT` is set on the build configuration of the target, as opposed to that of the project's. Is there something I can set in project.yml so tha

[2018-06-22 03:51] eskerber opened #321 "Dots "." in commandLineArguments YAML are filtered out"
[code]

The resulting command line args I see when viewing the scheme are:

- [ ] this-works
- [x] thisWill Work Again

I tried to reproduce this in the tests, but I couldn't find (quickly) that allowed me to reproduce this from the YAML itself. Can work on a fix myself, if nudged in the right direction.

[2018-06-22 03:56] yonaskolb commented on #321
From looking at the yaml posted above the fact that the offending line isn't green may give a hint. If you remove the space before the colon it will probably work
[code]

Let me know if that works

[2018-06-22 03:59] eskerber commented on #321
Apologies for the typo, that's not going to be it (in my source, I have about 7 of these values with properly placed colons).

Currently debugging, my dot-laden args args not surviving `Target.swiftL211`. Currently looking into what nefarious activity may be going on around `invalidItemBehaviour` 🤠 .

Thanks for the quick reply!

[2018-06-22 04:01] yonaskolb commented on #321
Oh, without looking at it properly now I think it may be an issue with `JSONUtilities` in that it's treating dots as a dictionary lookup

[2018-06-22 04:10] eskerber commented on #321
Yip. That'd be it!

![2018-06-21 at 11 09 pm](https://user-images.githubusercontent.com/75236/41757511-1be05ce0-75a8-11e8-8b32-bd13e127c29f.jpg)

Sleep will tell me if I should just have  our team #StopDoingThis. Feel like a fix won't exactly be straightforward.

Maybe at least the docs can call it out.

[2018-06-22 04:18] yonaskolb commented on #321
Having dots in keys should be supported. If it really is `JSONUtilities` the fork that this uses actually has a fix for that problem by specifying a `.key` instead of `.keyPath` (which it's use of `ExpressibleByStringLiteral` defaults to)
Feel free to submit a fix and test, if that's the issue

[2018-06-22 04:22] yonaskolb commented on #321
It would be nice to support dots in all keys though. There's still an open issue about moving to `Codable` instead of `JSONUtilities` but it hasn't been done yet as it's not super easy because of the`[String: Any]` types and the merges and replacements. It should be possible though using something like https://github.com/yonaskolb/Codability and doing the data merging and massaging before decoding

[2018-06-22 04:39] eskerber commented on #321
👍 great! Thanks for the insight.

I couldn't quite grok all the diffs between your fork and the original, but XcodeGen is pointing to the latest commit of your fork at the moment. Are you saying the JSONUtilities fork should work, needs a minor update, or needs some cherry-pick or merge love from the original repo?

[2018-06-22 04:43] yonaskolb commented on #321
I mean that the fork has support for looking up keys without being a path. That's not that scalable though as we'd have to update every call site in XcodeGen. Maybe the fork can be patched to change the default that `ExpressibleByStringLiteral` uses from `.keyPath` to `.key`. (or even an ugly static property somewhere that changes behaviour 😱)

[2018-06-25 08:53] yonaskolb commented on #320
Yes, `SDKROOT` is only set on targets by default. People may have many targets in their project from different platforms, so XcodeGen lets the target take care of that setting.
You can manually set the `SDKROOT` of the project if you wish like this:

[code]

It's strange that you're seeing code signing failing. Let me know if setting the project sdk actually helps that.

[2018-06-26 11:41] #321 closed

[2018-06-26 11:41] yonaskolb commented on #321
Fixed in #323

[2018-06-26 11:46] yonaskolb commented on #319
Yes, right you are. Documentation updated 👍

[2018-06-26 11:46] #319 closed

[2018-06-26 15:28] eskerber commented on #321
Thank you thank you 🙏. Wish I could have jumped on this, you know your JSONUtils fork much better than I do obviously 😸

[2018-06-27 11:17] yonaskolb commented on #315
By the logic would it be fair to assume anything that's not being embedded should be code signed?

[2018-06-27 12:50] yonaskolb commented on #315
I've opened #324 for this 👍

[2018-06-27 23:36] #315 closed

[2018-06-28 19:10] eskerber opened #325 "Ability to set run options/diagnostics in schemes"
If this is something currently supported, let me know and I can make it more clear in the docs.

The "run" options in a scheme have several options that are unable to be set via XcodeGen. Namely those in the "Options" and "Diagnostics" tabs:

![2018-06-28 at 2 07 pm](https://user-images.githubusercontent.com/75236/42055381-97bd8f8e-7adc-11e8-99cd-0d35580b2ae4.jpg)

![2018-06-28 at 2 07 pm](https:/

[2018-07-01 13:31] yonaskolb commented on #309
Closing this for now. Feel free to open again @albyok if you continue seeing the issue

[2018-07-01 13:31] #309 closed

[2018-07-02 09:18] philippelatulippe commented on #320
Thanks for the details. Setting the SDKROOT in the project settings did fix code signing for me. Without it, Xcode couldn't find the right signing identity.

When I create a project in Xcode, I specify that I am creating an iOS project and the resulting pbxproj does have SDKROOT set on the project. Maybe Xcodegen's project spec could somehow mirror that process?

[2018-07-02 13:42] brentleyjones opened #329 "New release?"
I was just wondering what the criteria is for a new release? I see we haven't gotten one since April and there have been a couple good bug fixes merged since then. Thanks!

[2018-07-03 11:56] yonaskolb commented on #329
Yes usually a new release is pushed when important fixes go in or a bunch of new features. It's pretty adhoc.
Usually there isn't so long a delay for a release, but this one has taken a while, apologies. But good news is, it's released now 😄 https://github.com/yonaskolb/XcodeGen/releases/tag/1.10.0

I'll add a `RELEASE.md` so others can also push a release 👍

[2018-07-03 11:57] #329 closed

[2018-07-03 16:43] eskerber opened #330 "1.10.0 - Targets marked as don't code-sign by default"
## What

After the changes in https://github.com/yonaskolb/XcodeGen/pull/324, framework targets are not code signed by default and must be explicitly marked.

## Effects

If `codeSign: true` is not specified for framework target dependencies, deploying to device will result in an error “No code signature found”

## Proposed Solution

Like discussed [here](https://github.com/yonaskolb/XcodeGen/pull

[2018-07-03 18:19] brentleyjones opened #331 "Add support for PBXAggregateTarget"
Currently there is no way to specify an Aggregate Target.

[2018-07-03 21:48] yonaskolb commented on #331
Duplicate of #47

[2018-07-03 21:48] #331 closed

[2018-07-03 23:34] yonaskolb commented on #47
Would target inheriting solve the same problem as you could easily apply a build script to all targets? https://github.com/yonaskolb/XcodeGen/issues/285

[2018-07-03 23:53] yonaskolb commented on #330
Fixed in #333
I tried using app extension or plugin destination but it missed some cases (for example iMessage apps aren't extensions but require code signing to be off)
I've changed the heuristic to code sign all dependencies except executables. Leave your comments in the PR

[2018-07-04 00:39] brentleyjones commented on #47
Ideally the build script is run once though.

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2018-07-04 00:51] yonaskolb commented on #47
Got it

[2018-07-04 02:16] #330 closed

[2018-07-04 05:15] vgorloff opened #334 "macOS: `XPC Service` dependency copied to resource folder rather embedded."
`xcodegen --version` => `1.10.0`

#### Problem:

macOS `XPC Service` dependency needs to be copied to `XPCServices` folder, but it copied to `Resources`. This cause issue on client app shown below:

[code]

#### Workaround:

Copy `XPC Service` bundle manually in `postbuildScripts` phase:

[code]

---

#### Example project:

[XPCDemo.zip](https://github.com/yonaskolb/XcodeGen/files/2161916/XPCDemo.

[2018-07-04 05:36] vgorloff commented on #260
Here is what i have on my side when including sources outside of project dir .)

![s180704_0835141](https://user-images.githubusercontent.com/3200080/42258606-430ab646-7f65-11e8-8f1e-f9c6fc84effd.png)

[2018-07-04 07:46] albyok commented on #309
I'm gonna try. Sorry, but I missed the notification!

[2018-07-04 14:07] brentleyjones commented on #309
#326 probably fixed this.

[2018-07-04 22:22] iamtomcat opened #335 "Carthage dependencies are now included in targets that both use carthage dependencies"
## PaywithSDK

    dependencies:
      - carthage: FirebaseCore
      - carthage: FirebaseInstanceID
      - carthage: nanopb
      - carthage: FirebaseNanoPB
      - carthage: FirebaseAnalytics
      - carthage: TTTAttributedLabel
      - carthage: AFNetworking
      - carthage: CountryPicker
      - carthage: GoogleToolboxForMac
      - carthage: CardIO

<img width="616" alt="screen shot 2018-07

[2018-07-05 02:49] brentleyjones commented on #335
This is deliberate from https://github.com/yonaskolb/XcodeGen/pull/327. It can be turned off with the new option. I’m assuming it’s an issue because some of those frameworks should be statically linked? For now you can do `embed: false` on them under PaywithSDK and they will be “seen” as a static framework and not linked against targets further down the dependency chain.

[2018-07-05 04:11] yonaskolb commented on #335
Yep as @brentleyjones says.
@iamtomcat Is this actually causing build issues for you? If so maybe we have to set the default of `transitivelyLinkDependencies` to false to not break existing projects, and perhaps make the default true in a future release.

[2018-07-05 13:34] brentleyjones commented on #335
The more I think about it, until we get smarter about static frameworks, I think `transitivelyLinkDependencies` should default to false.

[2018-07-05 14:13] yonaskolb commented on #335
Set default to false and released in 1.10.2

[2018-07-05 14:13] #335 closed

[2018-07-05 16:02] iamtomcat commented on #335
Hey yeah sorry I must have missed that flag in the change log. Thanks for pointing it out to me. Also thanks for the quick turn around time.

[2018-07-09 14:33] protuberian commented on #283
I'm not sure if it's related, but I had nothing in "xcode-preferences-locations-command line tools" after clean install macos&xcode, i selected one option and all xml/raise_api_error errors disappears.

[2018-07-10 06:55] jasesuperhero opened #338 "Organization name in config file"
When I regenerate project, i dont have organization name in my xcproject settings. Can I set organization name, prefix, and identity size with xcodegen spec?

[2018-07-10 23:48] davertay commented on #247
FYI, I encountered this same issue today when installing mint + xcodegen. What version will have the fix?
% mint -v
Version: 0.10.2
% xcodegen -v
1.10.2

[2018-07-12 10:06] jasesuperhero commented on #338
@yonaskolb, what about this feature?

[2018-07-12 10:18] yonaskolb commented on #338
@jasesuperhero as far as I understand the organisation name and bundle prefix aren't stored in a specific project, but instead are stored against your whole user within Xcode. If you can find somewhere in the `.xcodeproj` that this is stored, let me know

[2018-07-12 12:15] jasesuperhero commented on #338
@yonaskolb we have this attribute in this section of pbxproj file:
[code]

[2018-07-12 13:18] jasesuperhero commented on #338
Thanks! 😄
We can add this to example in project spec! It's not trivial. What do you think about this?

[2018-07-12 13:51] #338 closed

[2018-07-13 16:54] ericmarkmartin opened #340 "brew install fails on bitrise with Xcode-beta (10)"
Either I'm not correctly understanding what is needed fix the issues raised in issues like #283, or the issue has been reintroduced in Xcode-beta 10. This is especially weird because the installation does pass on my local environment with both Xcode 9 and Xcode-beta 10. This is my log from bitrise

[code]

[2018-07-14 13:58] yonaskolb commented on #340
I've submitted the homebrew formula to homebrew core. We'll see if that changes anything. Perhaps the pre-bottled installs will work. https://github.com/Homebrew/homebrew-core/pull/30079

[2018-07-14 18:52] ericmarkmartin commented on #340
That’s an interesting thought. Brew tends to be pretty quick, so hopefully it gets merged soon.

[2018-07-16 10:08] yonaskolb commented on #340
The formula is now in homebrew core and I've removed the one in this repo.
Can you please try again?
To make sure you're getting the official formula run this first
[code]

If it doesn't install at least you will get proper errors now instead of a curl error

[2018-07-16 15:25] ericmarkmartin commented on #340
The pre-bottled install works perfectly. Thanks so much for your responsiveness!

[2018-07-16 15:25] #340 closed

[2018-07-16 22:01] yonaskolb commented on #340
Great!

[2018-07-17 12:40] rohitpal440 opened #342 "Random language is getting selected for development from available Localisation"
We have 3 localisation (`en, id, pt-BR`) in our project. After generating the project using XcodeGen a random language get selected for developement, in our case it's `id (Indonesian)`. This happens even if I set `developmentLanguage` key under `options` in my project spec.

[2018-07-17 13:48] peymankh opened #343 "Carthage Static Dependencies Support"
Hi @yonaskolb

Quick question about Carthage's new static framework support. To my understanding, Carthage will create a separate directory under `build/{Platform}` called `Static`. Do we need to do anything extra to get support for this in Xcodegen.

From the top of my mind, the dependency resolver and framework search paths probably need to be updated?

Thanks.

[2018-07-17 17:41] brentleyjones opened #344 "module maps should be copied to Products Directory"
Currently if a `.modulemap` is in a source folder it will be copied as a resource. It should instead be copied to the Products Directory at the path `include/$(PRODUCT_NAME)`.

There currently is no way to manually specify this either, since `resources` is the only real copy phase supported. Ideally this could be manually specified as well with more `buildPhase`s.

[2018-07-18 10:44] yonaskolb commented on #343
Hi @peymankh
From looking at Carthage's documentation it seems what we need to do is to add a `static` property to `Dependency` for carthage dependencies that would control:
- which directory we look for the framework in. Static would look in `Carthage/Build/$(PLATFORM_NAME)/Static`
- whether to add the framework to the Carthage `copy-frameworks` input and output files

[2018-07-18 11:53] brentleyjones commented on #343
@yonaskolb That property (or something similar) would be useful for the other forms of `Dependency` as well. Only mentioning it so we name it properly from the start (I’m hoping to tackle the non-Carthage versions of it soon).

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2018-07-18 12:06] yonaskolb commented on #343
@brentleyjones yep, my thinking too 👍

[2018-07-18 14:31] yonaskolb commented on #342
@rohitpal440 you did a great job in your last PR. Would you like to debug this one and see if you can find the issue? Off the top of my head I'm not sure what the issue is

[2018-07-19 19:53] brentleyjones opened #350 "Better static library support"
Static libraries that are used by other targets in the same project/workspace have some conventions that need be followed that Xcode doesn't easily provide by default:

- Need to have a `Copy Files` phase for all public headers
    - Needs to include a `PRODUCT_NAME-Swift.h` if it's a Swift library and it's going to be consumed by Objective-C.
    - Needs to include a `modulemap` if it's going to

[2018-07-19 19:54] brentleyjones commented on #350
@Keith Since you have way more static library experience than I do, can you give this a look over to make sure I didn't get anything wrong or miss anything? Thanks!

[2018-07-19 20:06] keith commented on #350
Looks right to me. I'm not sure about adding the build script for copying the header, that seems pretty invasive to me, but I'm not sure how that stuff fits together since we have 0 Objective-C, so we haven't had this problem (and we don't even generate these headers)

This is desired, although can lead to more copies of the static library in your final .app if you have extensions and apps that de

[2018-07-19 20:12] brentleyjones commented on #350
Yeah, we have Objective-C. And setting up an Objective-C project in Xcode copies public headers by default, all the guides on how to create Objective-C static libraries mention the same, and I needed to do it locally to make it work. I'm not sure how to make it "configurable", if desired.

I'm pretty sure you always generate the `-Swift.h` header file. It should be located at `$(DERIVED_SOURCES_DI

[2018-07-19 20:14] keith commented on #350
Exactly.

Might be tough for some configurations. For us we don't set this per target, we set it in xcconfigs.

[2018-07-19 20:15] brentleyjones commented on #350
I believe @yonaskolb mentioned that XcodeGen can read the resolved settings, even if set from xcconfigs?

[2018-07-19 21:38] brentleyjones commented on #343
@yonaskolb Think I can take a stab at this first? I want to make sure it fits the grander static library/framework vision I'm trying to roll out. If not, that's cool, but one change I was thinking was instead of `static` we call the property `preferredLinkage` (similar to the [buck property](https://buckbuild.com/rule/prebuilt_apple_framework.html#preferred_linkage)) and it defaults to `dynamic` a

[2018-07-20 03:18] yonaskolb commented on #343
Sounds good. Go for it 👍

[2018-07-22 10:33] yonaskolb commented on #47
Aggregate targets added here #354, but with a strange issue

[2018-07-23 01:51] yonaskolb commented on #285
Implemented in #355
Does that meet your needs?

[2018-07-23 08:07] Lutzifer commented on #285
@yonaskolb yes, it does. Thx and kudos!

Example usage:

[code]

[2018-07-23 10:35] yonaskolb commented on #304
@dflems do the new releases work for you now?

[2018-07-23 12:44] yonaskolb commented on #292
@Alex293 I've changed the group sorting here https://github.com/yonaskolb/XcodeGen/pull/356
It now sorts groups after other files instead of before, and puts `Frameworks` and `Products` at the end

It doesn't allow for custom sorting yet

[2018-07-23 13:58] dflems commented on #304
@yonaskolb We upgraded our CI machines to High Sierra, so the issue sort of resolved itself. The issue was on Sierra only.

[2018-07-23 13:59] yonaskolb commented on #304
Ok, closing this for now

[2018-07-23 13:59] #304 closed

[2018-07-23 14:59] peymankh commented on #343
@yonaskolb @brentleyjones

Hey guys,

Thanks for giving this a head start. Just a few notes on adding a new attribute to dependency. To my understanding, we are currently separating out dependencies via their type already i.e. `target` and `carthage`. in regards to other types of dependencies, that probably needs to be defined there not as a new attribute of dependency itself. As for Static cartha

[2018-07-23 15:05] brentleyjones commented on #343
I'll need to see how it's been implemented. Before this change you could still do static frameworks if they were distributed as binaries. We couldn't tell if they were static or not, so `preferredLinkage` would be required. If Carthage handles it correctly for every case then it won't be needed. Like I mentioned above, you might list a `framework` dependency which is just a path, and we won't know

[2018-07-23 15:05] peymankh opened #357 "Carthage copy phase"
Hey guys,

Do you know if there's a way to use `mint run Carthage carthage copy-frameworks` instead of `carthage copy-frameworks` in the Carthage build phase?

@yonaskolb maybe 😉?

[2018-07-23 15:07] brentleyjones commented on #357
That would be a nice project option!

[2018-07-23 15:10] yonaskolb commented on #357
Yep, already supported 👍 Just set it like this

[code]

`carthageExecutablePath` is what is prepended to `" copy-frameworks"`

[2018-07-23 15:10] #357 closed

[2018-07-23 15:17] yonaskolb commented on #357
It should probably just be called `carthageExecutable`, but it was named when it was assumed it would be a path and not a fancy `mint` command 😄

[2018-07-23 15:35] peymankh commented on #357
@yonaskolb

Fancy indeed. Awesome, thanks.

[2018-07-23 15:38] peymankh commented on #343
@brentleyjones

Fair enough. This is how I'm currently using it, which is not the prettiest.

[code]

[2018-07-23 15:40] brentleyjones commented on #343
Same. And that currently breaks transitive linking support.

[2018-07-24 12:03] #285 closed

[2018-07-24 12:09] #47 closed

[2018-07-24 13:34] #292 closed

[2018-07-24 20:55] brentleyjones opened #359 "Add ability to embed Carthage frameworks without using `copy-frameworks`"
On our project we have many test targets, and all of them depend on Carthage versions of Quick and Nimble. When we build this with parallel builds enabled a Carthage bug can be hit where two instances of `copy-frameworks` try to strip the same dSYM (https://github.com/Carthage/Carthage/issues/2531). Since test targets don't really need to strip anything at all, it would be good to be able to speci

[2018-07-24 22:34] yonaskolb commented on #359
In my opinion this is a big in Carthage and should be fixed there. Is there any other reason you would want to turn this on?

[2018-07-25 00:20] brentleyjones commented on #359
They just said it's a bug on our side. They are correct. Only iOS apps need to use that script, since no other targets need to strip the simulator slice. I have a PR incoming.

[2018-07-25 00:22] brentleyjones commented on #359
Mainly the option would be to turn it off, since we will default it to on for basically everything but the application.

[2018-07-25 00:44] brentleyjones commented on #359
I guess on macOS you might want to strip the frameworks as well? Another case for adjusting the default.

[2018-07-29 12:14] rpassis opened #362 "CoreData model versioning configuration"
Hi all,

Just wondering if it is possible to select a versioned CoreData model "current version" option using XcodeGen? I had a look at the documentation but haven't been able to find it.

Thanks for developing such a great tool!

Rog

[2018-07-29 12:45] yonaskolb commented on #362
Hi @rpassis, there is currently no way to manually select a core data model version, however some work was done recently to automatically select the newest one by sorting them https://github.com/yonaskolb/XcodeGen/pull/341
It will be in the next release. Would that solve your issue?

[2018-07-29 12:51] rpassis commented on #362
Hey @yonaskolb thanks for the quick response! I was just having a look at that PR. I'll build from master to test it and update here but it looks like that's likely to do the trick!

FWIW the filename/path fix seems a bit fragile and a possible alternative would be to check if there is a `.xccurrentversion` file inside a versioned model, and set the version based on that. Here's a related issue th

[2018-07-29 13:15] rpassis commented on #362
Yup that file sorting change has fixed the issue, thanks again!

[2018-07-29 13:40] yonaskolb commented on #362
Great! I'll reopen this for tracking the proper fix, if anyone wants to work on it

[2018-07-29 14:03] rpassis commented on #362
I'll see if I can tackle this one myself, watch this space!

[2018-07-29 14:04] yonaskolb commented on #362
Fantastic! 😄👍

[2018-07-29 23:46] rpassis opened #363 "Exclude files syntax (or possible bug?)"
Hi there,

Apologies in advance if this is not the right place for asking these questions (feel free to tell me off :) ) but I haven't been able to exclude source files from a generated project

I created a very simple example that reproduces the issue and attached here.

[TestProject.zip](https://github.com/yonaskolb/XcodeGen/files/2239306/TestProject.zip)

Here's my `project.yml` inlined in case

[2018-07-29 23:55] rpassis commented on #363
Further to the above, I just tested the same `yaml` file as JSON and it seems to work as expected so I suspect this might be a bug.

[2018-07-30 00:04] rpassis commented on #363
Closing this as it is not an issue.

[2018-07-30 00:04] #363 closed

[2018-07-30 00:34] yonaskolb commented on #363
Hi @rpassis, you can absolutely ask questions here.

Yes, it’s relative to the source path. But also at the  moment the exclude don’t support glob patterns with double wildcards, only 1. We are using PathKit’s implementation, so we’ll need to write one by hand to support that.
Would be a good task for someone to pickup

[2018-07-31 12:49] #359 closed

[2018-08-02 13:19] brentleyjones commented on #362
Fixed by #364.

[2018-08-02 13:19] #362 closed

[2018-08-03 11:56] danicoello opened #371 "Folders added as folder references instead of groups"
I have three folders on disk:
- folder1
- folder2
- folder1.1

When I generate my .xcodeproj file using `xcodegen` command first two folders are added as groups as usual but third folder is added as folder reference so every file contained on that folder is not added to target and compilation fails.

I'm executing version 1.10.3.

[2018-08-03 12:55] brentleyjones commented on #371
Does using a `type` of `folder` work?
https://github.com/yonaskolb/XcodeGen/blob/master/Docs/ProjectSpec.md#sources

[2018-08-03 12:56] brentleyjones commented on #371
Ohh, it's incorrectly seeing it as a "folder like file".

[2018-08-06 10:58] danicoello opened #372 "Framework dependency always embedded"
I'm having this dependency settings on my target section of project.yml file:

[code]

This produces that the "Embedded Binaries Section" contains "My framework" added when this should not happens. If I set "embed" to "true" the same framework is added twice on the same section. In both scenarios the "Linked Frameworks and Libraries" contains the link to framework just one time.

I only want that

[2018-08-06 12:10] LinusU commented on #301
@pvinis

Did you ever get this working? Would love to see it! 😍

[2018-08-06 12:13] brentleyjones commented on #372
Can you post a more complete project.yml (made up names are fine). I’ll take a look at this.

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2018-08-07 07:37] danicoello commented on #372
This is the project.yml that I am using.

[code]

[2018-08-07 08:56] yonaskolb commented on #372
Hi @danicoello. As a side comment, it's always cool to see people's `project.yml`. Here are some things you could possibly simplify:

- `settings.configs` can reference partial config names, to remove `debug` vs `release` duplication
- you can provide a `base` settings for common settings, and then remove them from all the targets
- `TEST_HOST` _shouldn't_ be required
- `INFOPLIST_FILE` should be

[2018-08-07 13:11] brentleyjones commented on #372
@danicoello: The issue is that you have `AmazonAws` under `MyApp`, which means it gets picked up automatically and is thus being embedded. This wouldn't be an issue if the framework was dynamic and was allowed to be embedded.

A couple ways to fix this:

1. Exclude the `AmazonAws` directory
[code]

2. Move the `AmazonAws` directory to be outside of `MyApp`

---

@yonaskolb:

`TEST_HOST` is not set

[2018-08-07 15:07] pvinis commented on #301
i gave up after not being able to include libs from a folder. i have to try again soon, since there has been a buuuunch of progress on xcodegen.

ill let you know.

[2018-08-08 07:57] danicoello commented on #372
@yonaskolb Thank you for your project.yml optimizations. I have applied them to my file.

@brentleyjones It works! I use your first approach of excluding the `AmazonAws` directory and it solved my problem. Framework is linked but not embedded as required.

[2018-08-08 08:00] danicoello commented on #372
About Host Application on a testing target:

I removed `TEST_HOST` on project.yml as you told me but when I opened the target on Xcode there is no host application selected. It display "None" and I have to select the target app by hand.

[2018-08-09 01:38] keith opened #374 "Localizable.strings files not correctly grouped when referenced directly"
With this project spec:

[code]

And this folder structure:

[code]

When I run XcodeGen like this:

[code]

I end up with a project where the Localizable.strings file isn't correctly setup as a localized file. In this case it looks like this:

![image](https://user-images.githubusercontent.com/283886/43873064-fc7c6f94-9b39-11e8-8faf-57fdc7829ab2.png)

If you change the source path to be `Resource

[2018-08-09 14:58] #350 closed

[2018-08-09 15:57] brentleyjones opened #376 "AggregateTarget dependencies aren't set as dependencies in Xcode"
[code]

I get the error `Target "App" has invalid dependency: "Agg"`

Related, there is no way to make an AggregateTarget depend on another AggregateTarget.

[2018-08-09 23:53] keith commented on #374
It looks like this is because we hit this branch https://github.com/yonaskolb/XcodeGen/blob/461de39f8e7c837a78f5617bc4fc20d4d84267b7/Sources/XcodeGenKit/SourceGenerator.swift#L470 which doesn't have any of the lproj logic

[2018-08-10 17:33] brentleyjones opened #377 "TEST_HOST should be set automatically"
When a test has an app as a target it should set the `TEST_HOST` automatically. We need to make sure not to break UI tests though. Discussed here:  https://github.com/yonaskolb/XcodeGen/issues/372#issuecomment-411321621.

[2018-08-10 17:33] brentleyjones commented on #372
I'm going to close this since the root issue is technically desired behavior. Opened https://github.com/yonaskolb/XcodeGen/issues/377 for the improvement suggested here.

[2018-08-10 17:33] #372 closed

[2018-08-10 23:25] yonaskolb commented on #377
Somewhat related to #71

[2018-08-13 17:13] keith opened #378 "Generation failed: The folder “project.pbxproj” doesn’t exist."
We've been getting this warning sporadically with XcodeGen 1.10.2. I'm not sure how to reproduce it yet, but I was wondering if anyone else has seen this issue. It appears to be coming from this catch:  https://github.com/yonaskolb/XcodeGen/blob/6c35c332e973c4a0bfb0f87c285fcc4e23a8db55/Sources/XcodeGen/main.swift#L66

[2018-08-16 09:57] peymankh commented on #343
@brentleyjones Definitely, anything I can help to move this forward faster?

[2018-08-16 12:53] #334 closed

[2018-08-16 13:11] yonaskolb commented on #343
I'm planning on a release tomorrow. If one of you wants to get this in before then, be my guest!

[2018-08-16 13:12] brentleyjones commented on #343
I've started work on this, but it won't make this release.

@peymankh Thanks for the offer. I was just bogged down with other stuff. This is my priority (outside of work) now.

[2018-08-16 13:14] brentleyjones commented on #376
@yonaskolb Since this is new for the coming release, think we can get a fix for it? I looked a bit but wasn't 100% sure what was going on here.

[2018-08-16 18:24] vgorloff opened #379 "Metal files added to "Copy Bundle Resources" rather to "Compile Sources" build phase."
The files with extension `.metal` is type of "Metal Shader Source" which needs compilation build phase. At the moment files just added to "Copy Bundle Resources" build phase.

Hope it is easy to fix issue .)
Thank you!

[2018-08-16 18:28] keith commented on #379
It needs to be added here https://github.com/yonaskolb/XcodeGen/blob/461de39f8e7c837a78f5617bc4fc20d4d84267b7/Sources/XcodeGenKit/SourceGenerator.swift#L191 can you submit a PR?

[2018-08-16 18:30] vgorloff commented on #379
Ok. I am finishing converting one project with Shaders. Then will make a fix and PR.

[2018-08-17 07:29] vgorloff commented on #379
PR is ready and it passes tests. Please review and merge.
Thanks!

[2018-08-17 10:40] #379 closed

[2018-08-20 15:41] brentleyjones commented on #376
They can be referenced, but the aggregate targets aren't actually set as target dependencies.

[2018-08-20 15:46] brentleyjones commented on #376
I didn't confirm why it's broken, but I think Xcode removes the dependency for being invalid for some reason.

[2018-08-20 15:58] brentleyjones commented on #376
It's a bug with `transitivelyLinkDependencies`. I'll work on a fix. Re-closing this.

[2018-08-20 15:58] #376 closed

[2018-08-21 19:48] ethanjdiamond opened #384 "Adding files without any target"
There are files in my project that I'd like to be able to access from Xcode, but not add to any particular target. An example is I have .stencil templates that I'd like to be able to edit from Xcode but not actually ship with my project. Is there a way to achieve that in the project.yml?

[2018-08-21 19:50] brentleyjones commented on #384
Yes, using `fileGroups`:
https://github.com/yonaskolb/XcodeGen/blob/master/Docs/ProjectSpec.md#project

[2018-08-21 19:57] ethanjdiamond commented on #384
Ah, great. Is there any way to do that in a way that does string matching? Something like

fileGroups:
  - "*.stencil"

[2018-08-22 14:46] yonaskolb commented on #384
No, pattern based sources isn't possible...yet

[2018-08-22 17:36] ethanjdiamond commented on #384
Ok! Thanks!

[2018-08-22 22:56] keehun opened #385 "Nested project.yml includes not using relative paths (modular project.yml files)"
I am importing (copy-pasting) other projects each that have their own `project.yml` files for Xcodegen. Here is the directory structure:

[code]

In my `ProjectFolder/project.yml`, I define `include: [DependencyA/project.yml]`. In my `DependencyA/project.yml`, I define:

[code]

When I `cd ProjectFolder` and run `xcodegen`, I get an error saying that `- Target "DependencyATests" has a missing sour

[2018-08-23 09:02] yonaskolb commented on #385
Hi @keehun
At the moment the `include` files are simply merged and then loaded as a single spec. No paths are transformed, so what you're trying to do currently doesn't work.
As you found out you'll have to append `ProjectFolder/` to the paths you use as every path is in relation to the spec you load.

[2018-08-23 11:59] keehun commented on #385
Thank you for a clear response! Is it on the roadmap at some point?

[2018-08-23 14:14] frankdilo opened #386 "Problem running tests under macOS"
Hi there, think I have found an issue running `xcodegen` (version `1.11.1`) to generate a project for a `macOS` framework and it's associated test target.

With the configuration below, when I try to run tests I get the following error and tests fail:

[code]

[code]

I tracked down the problem to a build setting on the test target. Adding this setting to the settings of the test target fixes runn

[2018-08-23 14:17] brentleyjones commented on #386
We can make a file in `SettingsPresets/Product_Platform/bundle.unit-test_macOS.yml`, with the content of:

[2018-08-23 15:04] frankdilo commented on #386
Sure, I will take a look

[2018-08-23 15:35] frankdilo commented on #386
@brentleyjones from a quick glance at the code, it seems that the `Product_Platform` setting for `LD_RUNPATH_SEARCH_PATHS` overrides the `Product` one and that no merging is happening for values of the same key.

Both

[code]

and

[code]

as preset fix the problem. Which one do you think I should put in the preset?

[2018-08-23 15:38] brentleyjones commented on #386
Looking into it, just the first: `LD_RUNPATH_SEARCH_PATHS: "$(inherited) @executable_path/../Frameworks @loader_path/../Frameworks"`

[2018-08-23 16:06] frankdilo commented on #386
Thanks, PR on its way.

[2018-08-23 17:50] #386 closed

[2018-08-31 07:53] Saik0s opened #389 "Does not generate knownRegions if there are no resources in the project"
When I am trying to run R.swift in the generated project without resources, it gives me an error
[code]
After some investigation, I found that the problem is in `knownRegions` parameter. It is not generated when there are no localized resources. But project generated by Xcode sets this parameter to
[code]
by default even without resources.

[2018-08-31 08:07] yonaskolb commented on #389
Thanks for the report @Saik0s.
It’s not a required property from Xcode’s point of view, but the library that R.swift uses to parse the project expects it. We can add a default en value though 👍

[2018-09-04 12:19] #389 closed

[2018-09-05 16:15] fxcoudert opened #391 "XcodeGen-1.11.1 fails to build on macOS 10.14 Mojave with Xcode 10"
Building XcodeGen-1.11.1 on macOS 10.14 Mojave with Xcode 10 fails with the following error:

[code]

[2018-09-08 07:23] vgorloff opened #392 "Spec validation error when generating Schema for Aggregated Target"
XcodeGen Version: 1.11.1

**Description**:

1. In `project.yml` we can define `aggregateTargets`.
2. Xcode will create automatically schema for that Aggregated Target.
3. We can successfully run that schema.
4. If Xcode can generate schema for that Aggregated Target, this means that XcodeGen can also do so.

![s180908_0914591](https://user-images.githubusercontent.com/3200080/45251527-f9374900-b34

[2018-09-08 13:27] vgorloff commented on #392
Thanks. I will try to fix that in upcoming days.

[2018-09-11 15:07] vgorloff commented on #392
Seems fixed .)
Please review PR: https://github.com/yonaskolb/XcodeGen/pull/394
Thanks!

[2018-09-11 21:57] ezegutierrez opened #395 "Question related to code signing identity settings on project.yml"
Hi!
I'm having troubles trying to integrate fastlane on my project. The issue is due to "Any iOS SDK" setting is added by default on code signing identity when .xcodeproject is generated, thus it's giving me an error when I'm trying to archive the project through fastlane.

I don't know how can I remove that setting from my project.yml. Is there any way to do that?

This is the settings that I wan

[2018-09-13 02:46] toshi0383 opened #396 "Directory name containing dots is unexpectedly added to copy bundle resources build phase"
<img width="89" alt="screen shot 2018-09-13 at 11 45 08" src="https://user-images.githubusercontent.com/6007952/45464239-a6e09880-b74a-11e8-812c-37260dc06bb4.png">

[2018-09-13 10:32] yonaskolb commented on #391
Thanks for opening @fxcoudert. I'm not seeing any build errors with the Xcode 10 GM on master, though I don't have Mojave installed. Could you try this again with the Xcode 10 GM?

[2018-09-13 14:48] brentleyjones commented on #396
It's seen as a "file like directory". Wonder if we should instead whitelist that instead of assuming all directories with dots are that.

[2018-09-13 18:12] keith opened #398 "Don't opt all modules into -ObjC"
While testing updating XcodeGen we noticed our targets are now opted into the `-ObjC` linker flag. https://github.com/yonaskolb/XcodeGen/blob/3c07768508d8d8065dc9f01b89b1502f0a9e541f/Sources/XcodeGenKit/PBXProjGenerator.swift#L828-L840

I don't think this behavior is always desired. We currently manage these flags ourselves, so we'd rather not have XcodeGen decide this for us.

[2018-09-13 18:14] keith commented on #398
It looks like I can set `requiresObjCLinking` to false on all of our targets to opt out of this.

[2018-09-13 18:19] keith commented on #398
I'll do that for now

[2018-09-13 18:19] #398 closed

[2018-09-14 00:38] toshi0383 commented on #396
I think we should whitelist them. For sure Xcode does whitelist (as we can see icons are different for each resource type), so I guess it makes sense.
It can introduce bugs by forgetting to add any "file like directory" extensions, so I want to make sure we cover all of them in #397 .

[2018-09-14 14:41] brentleyjones commented on #391
I got the same issue for High Sierra and Xcode 10 GM. Seems that `xcproj` is failing to build.

[2018-09-14 15:17] brentleyjones opened #399 "Need to move Copy Headers phase to be before Compile Sources"
From the Xcode 10 GM release notes:

[2018-09-14 15:23] brentleyjones opened #400 "Should allow specifying ordering of copy files phases"
From Xcode 10 release notes:

We should allow specifying of the ordering of copy file phases. Scripts will block the compilation of a dependent target, while copy files ~~(probably)~~ doesn't. Being able to determine the order of these can improve build times, but also impact correctness of a build. The copy files phase might have to come before a post-build run script or even before Compile Sourc

[2018-09-14 15:41] brentleyjones commented on #400
Without a change you can get build errors like this:
[code]

Because something like a modulemap is needed for compilation of targets depending on this target.

[2018-09-14 17:17] #399 closed

[2018-09-14 18:41] #384 closed

[2018-09-16 21:41] AndrewBennet commented on #391
I'm also getting an error when running Xcodegen via Mint on a [Travis](https://travis-ci.org/) Xcode 10 [image](https://docs.travis-ci.com/user/reference/osx/#Xcode-10.0), which uses OSX 10.13 (High Sierra).

[2018-09-17 14:02] LinusU commented on #391
Same problem for me on High Sierra with the Xcode 10 GM.

[2018-09-18 10:54] AlexShtarbev commented on #391
I am on Hight Sierra 10.13.9 with Xcode 10 GM. When I run
`swift build`
which is creates the debug release, the tool builds fine for me.
However
`swift build -c release`
fails with the exact same error in the issues comments.

@yonaskolb which command are you running? Also what is your OS version and Xcode Version?

I wonder if XcodeGen should move to a higher version of xcproj as this bug might n

[2018-09-18 11:56] yonaskolb commented on #391
I can verify that this fails in release builds within `xcodeproj`, and seems to be some sort of bug in the Swift compiler. There is ongoing work at the moment to update xcodecproj, but even the latest 6.0 release exhibits the same behaviour, so a fix must be applied there first.

Pinging @pepibumur
This can be seen be simply running `swift build -c release` in the xcodeproj repo

[2018-09-18 12:19] pepibumur commented on #391
Yes, there seems to be an issue on the `xcodeproj`. Thanks for opening the issue @yonaskolb

[2018-09-18 15:39] AlexShtarbev commented on #391
@yonaskolb is the version you are distributing created with `swift build -c release`?

[2018-09-19 07:11] rafalszastok opened #403 "make command ended with fatal error"
When I'm trying to install XcodeGen from command line I'm receiving compiler error.
[code]

[2018-09-19 07:12] keith commented on #403
https://github.com/yonaskolb/XcodeGen/issues/391

[2018-09-19 07:12] #403 closed

[2018-09-19 08:08] yonaskolb commented on #391
This has been fixed by #404 and will be in the next release soon

[2018-09-19 08:51] LinusU commented on #391
Would be very happy for a quick release ☺️

[2018-09-19 11:18] yonaskolb commented on #391
Released in 1.11.2

[2018-09-19 11:18] #391 closed

[2018-09-19 11:18] yonaskolb commented on #392
Released in 1.11.2

[2018-09-19 11:18] #392 closed

[2018-09-19 11:27] LinusU commented on #391
Thanks ❤️

[2018-09-19 11:38] LinusU opened #405 ""file reference member of multiple groups" warning in Xcode 10"
After upgrading to Xcode 10, I'm getting the following warning when building my project:

[code]

My directory structure looks like this:

[code]

[2018-09-19 18:32] rastersize commented on #11
Hey all! I’d like to resurrect this topic, as I prefer to explicitly declare all dependencies but also want a single place for it that other engineers can edit. Without them having to know xcconfig syntax and linker flags.

I think adding another type of key to the regular `dependencies` array would be a good way to solve this. Doing so would also allow for declaring that the dependency is optiona